<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Add User</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  
  var data = "<%= message%>";
  var smsg = "Successfully added the user.";
  var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  var smb = "<div class='box-body'>"+sif+"</div>"

  var ermsg = "User Creation Failed."
  var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  var emb = "<div class='box-body'>"+eif+"</div>"
  

</script>

</head>


<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="padding-top: 10px !important;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Add New User
          <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Users</li>
          <li class="active">Add New User</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">
       <div class="row">

         <script type="text/javascript">
          if (data == "null") {

          }else if(data == "1") {
            document.write(smb);
          }else if(data == "0") {
            document.write(emb);
          }

        </script>



        <div class="col-md-8">
          <div class="box box-default" style="border-top: 3px solid #253136;">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/addUser" method="post" id="userform" onsubmit="return checkPer();">
              <div class="box-body">
                <h4>User Details</h4>
                <div class="form-group">
                  <label for="">User ID</label>
                  <input type="text" class="form-control" name="userid" placeholder="..." style="border-radius: 5px;" required>
                </div>
                <div class="form-group">
                  <label for="">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="..." style="border-radius: 5px;" required>
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="..." style="border-radius: 5px;" required>
                </div>

                <div class="form-group">
                  <label for="">Permission</label>
                  <select class="form-control" id="permission" name="permission" style="border-radius: 5px;" required="">
                    <option>none</option>
                    <option value="2">Approver</option>
                    <option value="3">Data Entry Operator</option>
                  <!-- <script type="text/javascript">
                    for(i=1;i<=3;i++) {
                      if(parseInt(permission) < i) {
                        document.write("<option value='"+i+"'>"+i+"</option>")
                      }
                    }
                  </script> -->
                  
                  
                </select>
              </div>
              <input type="hidden" name="by" value="<%= username%>">
              <input type="hidden" name="active" value="true">
              <input type="hidden" name="publickey" value="mypublickey">

              

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary " style="margin-left: 2px;">Submit</button>

            </div>
          </form>
        </div>
      </div>

      <script type="text/javascript">
        function checkPer() {
          var formEl = document.forms.userform;
          var formData = new FormData(formEl);
          var perm = formData.get('permission');

          if(perm == "none") {
            return false;
            alert("Please! Select Permission")
          } else {
            return true;
          }

        }
      </script>





      <div class="col-md-4">
        <div class="box box-default" style="border-top: 3px solid #253136;">
          <div class="box-header with-border">
            <i class="fa fa-info-circle"></i>

            <h3 class="box-title">Help</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">

            Here you can add the details of user then it will be send for the approval.
            <h5><strong> Username </strong>is case sensitive.</h5> 
              

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>