<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Admin Signin</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<script type="text/javascript">
  var loginmsg = "<%= loginmsg%>";
</script>

</head>
<body class="hold-transition login-page" style="height:;overflow:hidden;background:#fff;">
  <img src="/img/bg.png" class="" style="height:100vh !important;position: absolute;top:0;z-index: 0 !important;">

  <div class="login-box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: #253136;z-index: 999 !important;">
    <div class="login-logo" style="padding-bottom:20px !important;z-index:999;border-left:10px solid #fff;border-right:10px solid #fff;border-top:10px solid #fff;padding-top: 0px;padding-bottom: 10px;">
      <a href="#" style="background:;display: block;height: 90px;"><img src="/img/LogoDone.png" class="img-responsive" style="width: 140px;background: ;margin:auto;margin-top: -5px !important;"> </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="margin-top: -30px !important;padding-top: 15px !important;z-index: 999 !important;">
      <p class="login-box-msg">Sign in here</p>


      <form action="/userlogin" method="post">
        <div class="form-group has-feedback">
          <input type="text" name="username" class="form-control" placeholder="Username" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">

          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <script type="text/javascript">
        if(loginmsg == "0") {

        } else if(loginmsg == "1") {
          var umsg = "<div class='alert alert-danger' style='padding-bottom: 5px;padding-top: 5px;text-align: center;margin-top: 20px;margin-bottom: 0px;opacity: 0.8;'><i class='fa fa-info-circle'></i>&nbsp;&nbsp; Username / Password Incorrect</div>";
          document.write(umsg)
        } else if(loginmsg == "2") {
          var umsg = "<div class='alert alert-danger' style='padding-bottom: 5px;padding-top: 5px;text-align: center;margin-top: 20px;margin-bottom: 0px;opacity: 0.8;'><i class='fa fa-info-circle'></i>&nbsp;&nbsp; User is not Approved</div>";
          document.write(umsg)
        } else if(loginmsg == "3") {
          var umsg = "<div class='alert alert-danger' style='padding-bottom: 5px;padding-top: 5px;text-align: center;margin-top: 20px;margin-bottom: 0px;opacity: 0.8;'><i class='fa fa-info-circle'></i>&nbsp;&nbsp; User is not Active</div>";
          document.write(umsg)
        }


      </script>


      <!-- /.social-auth-links -->


    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="/plugins/iCheck/icheck.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
    });
  </script>
</body>
</html>
