<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Student Admission Form</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  
  var mdata = "<%= message%>";
  var smsg = "Successfully committed the change to the ledger by the peer.";
  var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  var smb = "<div class='box-body'>"+sif+"</div>"

  var ermsg = "Transaction Failed."
  var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  var emb = "<div class='box-body'>"+eif+"</div>"
  
  
</script>

</head>



<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Student Admission Form
          <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Admission</li>
          <li class="active">Add New Student</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">
       <div class="row">

        <script type="text/javascript">
          if (mdata == "null") {

          }else if(mdata == "1") {
            document.write(smb);
          }else if(mdata == "0") {
            document.write(emb);
          }

        </script>

        <div class="col-md-8">
          <div class="box box-default center-block" style="border-top: 3px solid #253136;">
            <!-- /.box-header -->
            <script type="text/javascript">
              data = {};
              data = <%- JSON.stringify(result) %>;
            </script>
            <!-- form start -->
            <form role="form" action="/admission" method="post">
              <div class="box-body">

                <div class="form-group">
                  <h4>Template Key</h4>
                  <select class="form-control" id="tempKey" name="tempkey" onchange="display('tempKey')" style="border-radius: 5px;">
                    <option>none</option>
                    <script type="text/javascript">
                      for(j=0;j<data.length;j++) {
                        var t = data[j]["Key"]
                        document.write("<option>"+t+"</option>")
                      }
                    </script>
                  </select>
                </div>


                <div id="dymf">
                  <!-- Fields goes here -->
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <script type="text/javascript">
          function capitalFL(string) {
            return string[0].toUpperCase() + string.slice(1);
          }

          function display(obj) {
            var sel =  document.getElementById(obj);

            for(k=0;k<data.length;k++) {
              if(sel.value == "none") { 


                var dbox = document.getElementById('dymf')
                while (dbox.firstChild) {
                  dbox.removeChild(dbox.firstChild);
                }
              }
              else {
                if( sel.value == data[k]["Key"]) {
                  var x = data[k]["Record"];

                  var a1 = x["fields"]
                  var fields = a1.split(",")
                  var dbox = document.getElementById('dymf')

                  while (dbox.firstChild) {
                    dbox.removeChild(dbox.firstChild);
                  }

                  // <div class="form-group">
                  //   <label>University</label>
                  //   <input type="text" class="form-control" id="" placeholder="Enter University name" style="border-radius: 5px;">
                  // </div>

                  for(c=0;c<fields.length;c++) {
                    var fg = document.createElement('div');
                    fg.classList.add('form-group');

                    var lab = document.createElement('label');
                    lab.innerHTML = capitalFL(fields[c]);

                    var hinput = document.createElement('input');
                    hinput.type = "hidden";
                    hinput.name = "Variable";
                    hinput.value = fields[c];

                    var input = document.createElement('input');
                    input.type = "text";
                    input.classList.add('form-control');
                    input.name = "Value" 

                    fg.appendChild(lab);
                    fg.appendChild(hinput);
                    fg.appendChild(input);
                    dbox.appendChild(fg);
                  }

                  //subjects
                  // for(s=1;s<Object.keys(x).length;s++) {
                  //   var sps = x["subject"+s].split(",");
                  //   var li = document.createElement('li');

                  //   var sub =  document.createElement('h4')
                  //   sub.innerHTML = "Subject "+s;
                  //   li.appendChild(sub);
                  //   var sc =  document.createElement('h5')
                  //   sc.innerHTML = "- Code: "+sps[0];
                  //   li.appendChild(sc);
                  //   var sc =  document.createElement('h5')
                  //   sc.innerHTML = "- Name: "+sps[1];
                  //   li.appendChild(sc);
                  //   var sc =  document.createElement('h5')
                  //   sc.innerHTML = "- Credit Hours: "+sps[2];
                  //   li.appendChild(sc);
                  //   dbox.appendChild(li);

                  // } 


                }
              }
            }

          }  

        </script>

        <div class="col-md-4">
          <div class="box box-default" style="border-top: 3px solid #253136;">
            <div class="box-header with-border">
              <i class="fa fa-info-circle"></i>

              <h3 class="box-title">Info</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              Here you can add student details.
              <br>By selecting the template key the student admission form will be appear as according to the template created earlier.
              

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>


      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>