<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | View Student</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
</script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Students' Data
          <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Admission</li>
          <li class="active">View Student</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">
       <div class="row">

        <div class="col-md-8">
          <div class="box box-default" style="border-top: 3px solid #253136;">
            <!-- /.box-header -->
            <!-- form start -->
            <script type="text/javascript">
              data = {};
              data = <%- JSON.stringify(result) %>;
            </script>
            <div class="box-body">

              <div class="form-group">
                <h4>Template Keys</h4>
                <select class="form-control" id="tempkey" onchange="changeStdID('tempkey')" style="border-radius: 5px;">
                  <option>none</option>
                  <script type="text/javascript">

                    var tkeys = []
                    for(i=0;i<data.length;i++) {
                      var exkey = data[i]["Record"];
                    // alert(exkey["Template Key"]);
                    if(tkeys.includes(exkey["Template Key"])) {

                    } else {
                      tkeys.push(exkey["Template Key"]);
                    }

                  }

                  for(j=0;j<tkeys.length;j++) {
                    document.write("<option>"+tkeys[j]+"</option>")
                  }

                </script>
              </select>  
            </div>

            <div class="form-group">
              <h4>Student ID</h4>
              <select class="form-control" id="stdID" onchange="displayNew('stdID')" style="border-radius: 5px;">
                <option>none</option>
                <script type="text/javascript">
                  for(j=0;j<data.length;j++) {
                    var t = data[j]["Key"]
                    document.write("<option>"+t+"</option>")
                  }
                </script>
              </select>  
            </div>

            <div class="form-group">



              <ul>
                <div class="" id="dymf" style="text-transform: capitalize;">
                  <!-- fields goes here -->


                </div>
              </ul>
            </div>

            <div class="box-header with-border">
              <h3 class="box-title">Student Information</h3>
            </div>
            <div class="box-body" style="padding-top: 0px; color :#4d4d4d;">
              <table class="table table-hover" border="0">
                <tbody id="newdbox">



                </tbody>
              </table>


            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box-body -->
          <script type="text/javascript">
            function changeStdID(tid) {
              var sel= document.getElementById(tid);
              if(sel.value == "none") {
                var sselect = document.getElementById('stdID');
                while (sselect.firstChild) {
                  sselect.removeChild(sselect.firstChild);
                }

                var selnone = document.createElement('option');
                selnone.innerHTML = "none";
                sselect.appendChild(selnone);

                for(j=0;j<data.length;j++) {
                  var t = data[j]["Key"]

                  var soption = document.createElement('option');
                  soption.innerHTML = t;
                  sselect.appendChild(soption);

                }

                var dybox = document.getElementById('dymf')
                while (dybox.firstChild) {
                  dybox.removeChild(dybox.firstChild);
                }

              } else {
                var siddb = document.getElementById('stdID');
                while (siddb.firstChild) {
                  siddb.removeChild(siddb.firstChild);
                }

                var sidnone = document.createElement('option');
                sidnone.innerHTML = "none";
                siddb.appendChild(sidnone);

                for(j=0;j<data.length;j++) {
                  var dtr = data[j]["Record"];
                  var datakey = data[j]["Key"];
                  var kk = Object.keys(data[j]["Record"]);
                  if(sel.value == dtr["Template Key"]) {
                    var sidop = document.createElement('option');
                    sidop.innerHTML = datakey;
                    siddb.appendChild(sidop);

                  }
                }

                $("#stdID").val("none");
                var dybox = document.getElementById('dymf')
                while (dybox.firstChild) {
                  dybox.removeChild(dybox.firstChild);
                }

              }
            }

            



            function displayNew(obj) {
              var sel =  document.getElementById(obj);

              for(k=0;k<data.length;k++) {
                if(sel.value == "none") { 
                  var dbox = document.getElementById('newdbox')
                  while (dbox.firstChild) {
                    dbox.removeChild(dbox.firstChild);
                  }
                }
                else {
                  if( sel.value == data[k]["Key"]) {

                    var x = data[k]["Record"];
                    var skeys = Object.keys(x);
                    var dbox = document.getElementById('newdbox')


                    while (dbox.firstChild) {
                      dbox.removeChild(dbox.firstChild);
                    }

                    var tr = document.createElement('tr');
                    var td1 = document.createElement('td');
                    td1.innerHTML = "Student ID";
                    tr.appendChild(td1);
                    var td2 = document.createElement('td');
                    td2.innerHTML = sel.value;
                    tr.appendChild(td2);

                    dbox.appendChild(tr);

                    for(k=0 ; k<skeys.length ; k++) {
                      var tr = document.createElement('tr');
                      var td1 = document.createElement('td');
                      td1.innerHTML = skeys[k];
                      tr.appendChild(td1);
                      var td2 = document.createElement('td');
                      td2.innerHTML = x[skeys[k]];
                      tr.appendChild(td2);


                      dbox.appendChild(tr);
                    }



                  }
                }
              }

            } 

          </script>


        </div>
      </div>









      <div class="col-md-4">
        <div class="box box-default" style="border-top: 3px solid #253136;">
          <div class="box-header with-border">
            <i class="fa fa-info-circle"></i>

            <h3 class="box-title">Help</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">

            Here you can view the details of a student
            <h5><strong> Template Key </strong></h5> 
            By selecting the template key, students added by using the selected template key will be sorted out in the student ID.
            <h5><strong> Student ID </strong></h5> 
            By selecting the student id the details of the student will appear.
            
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>

    </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>
  <!-- DataTables -->
  <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

  <script>
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>