<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

        <script type="text/javascript">
      // request permission on page load

    </script>

    <title>LiSt All Templates</title>
    <style type="text/css">
      @media(max-width: 580px) {
      .limg {
          width: 50% !important;

      }
      .lbox {
        text-align: center;
      }
    }
    .ltext {
      font-family: 'Bitter', serif;
      font-size: 40px;
      line-height: 160px;
      color:#fff;
    }
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  line-height: 32px;

  }



.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav#wot container. */
nav#wot { 
  margin:0;
  padding: 0;
  background: linear-gradient(#a4de28, #7cae27);
  z-index: 999;
  word-wrap:break-word !important;
  
  font-family: 'Open Sans', sans-serif;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav#wot:after {
  content:"";
  display:table;
  clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav#wot ul {
  float: left;
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  font-family: 'Raleway', sans-serif;
  }
  
/* Positioning the navigation items inline */
nav#wot ul li {
  margin: 0px;
  display:inline-block;
  float: left;
  background: linear-gradient(#a4de28, #7cae27);
  border-right:1px groove #c0ed90;
  }

/* Styling the links */
nav#wot a {
  display:block;
  padding:10px 30px;  
  color:#FFF;
  font-size:14px;
  text-decoration:none;
  box-sizing: border-box;
  height: 50px;
}


nav#wot ul li ul li:hover { }

/* Background color change on Hover */
nav#wot a:hover { 
  border-bottom:5px solid #4f006a;
  color: #4f006a;
}

.active {
  border-bottom:5px solid #4f006a;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav#wot ul ul {
  display: none;
  position: absolute; 
  /* has to be the same number as the "line-height" of "nav#wot a" */
  top: 50px; 
}
  
/* Display Dropdowns on Hover */
nav#wot ul li:hover > ul {
  display:inherit;
}
  
/* Fisrt Tier Dropdown */
nav#wot ul ul li {
  width:170px;
  float:none;
  display:list-item;
  position: relative;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav#wot ul ul ul li {
  position: relative;
  top:-60px;
  /* has to be the same number as the "width" of "nav#wot ul ul li" */ 
  left:170px; 
}

  
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav#wot {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #254441;
    padding:14px 20px;  
    color:#FFF;
    font-size:14px;
    text-decoration:none;
    border:none;
  }

  .toggle:hover {
    background-color: #028c39;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav#wot ul li {
    display: block;
    width: 100%;
    }

  nav#wot ul ul .toggle,
  nav#wot ul ul a {
    padding: 0 40px;
  }

  nav#wot ul ul ul a {
    padding: 0 80px;
  }

  nav#wot a:hover,
  nav#wot ul ul ul a {
    background-color: #028c39;
  }
  
  nav#wot ul li ul li .toggle,
  nav#wot ul ul a,
  nav#wot ul ul ul a{
    padding:14px 20px;  
    color:#FFF;
    font-size:14px; 
  }
  
  
  nav#wot ul li ul li .toggle,
  nav#wot ul ul a {
    background-color: #212121; 
  }

  /* Hide Dropdowns by Default */
  nav#wot ul ul {
    float: none;
    position:static;
    color: #ffffff;
    z-index: 99999;
    /* has to be the same number as the "line-height" of "nav#wot a" */
  }
    
  /* Hide menus on hover */
  nav#wot ul ul li:hover > ul,
  nav#wot ul li:hover > ul {
    display: none;
  }
    
  /* Fisrt Tier Dropdown */
  nav#wot ul ul li {
    display: block;
    width: 100%;
  }

  nav#wot ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav#wot ul ul li" */ 

  }

}

@media all and (max-width : 330px) {

  nav#wot ul li {
    display:block;
    width: 94%;
  }

}

.footer-cont {

}
.footer-cont .ftb {
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
color: #fff;
  background: linear-gradient(#7d01b2, #4f006a); 
  text-align: center;
}



.temphead {
  background: ;
}
.temphead h3 {
  background: ;
  float: left;
  height: 35px;
}


    </style>

    <script type="text/javascript">
      var decodeHtmlEntity = function(x) {
        return x.replace(/&#(\d+);/g, function(match, dec) {
            return String.fromCharCode(dec);
          });
      };

    
      // alert();
      
    </script>
  </head>
  <body>
    
  <div style="background: linear-gradient(#7d01b2, #4f006a); "> <!-- background: linear-gradient(#690094, #4f006a); -->
    <div class="container" style=" ">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs lbox" style="padding-top:10px;padding-bottom:10px;"><img class="img-responsive limg"  style="width:100%;" src="img/logo.png" alt="ARV_WI"></div>
        
        <div class="col-lg-10 col-md-10 col-sm-10 ltext">ACADEMIC RECORDS VERIFICATION SYSTEM</div>
      </div>
    </div>
  </div>


<nav id="wot">
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="login.html" class="active">LOGIN</a></li>
                <li><a href="admissionform.html">ADMISSION FORM</a></li>
                <li><a href="newuser.html">NEW USER</a></li>
                <li><a href="#">DELETE USER</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">CHAINCODE</label>
                    <a href="#">CHAINCODE &nbsp;<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li><a href="#">UPDATE</a></li>
                        <li><a href="#">DELETE</a></li>
                    </ul> 

                </li>
                
            </ul>
        </nav>

<!-- /form start -->
<div class="" style="background: url('img/bgp.jpg'); background-size: 100%;">
  <div class="container vertical-center" style="padding-bottom: 50px;padding-top: 50px;">
    <div style="background:#fff;width:70%;margin: auto;padding-top: 20px;padding:30px 50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  
    <div class="temphead">
      <h3 >All Template</h3> 
    </div>
    <script type="text/javascript">
      data = {};
      data = <%- JSON.stringify(result) %>;
    </script>
    
    <div class="form-group">
    <label for="tempKey" style="width: 100%;">Template Keys</label>
    <select class="form-control" id="tempKey" onchange="display('tempKey')" style="height: 40px;">
      <option>none</option>
        <script type="text/javascript">
        for(j=0;j<data.length;j++) {
          var t = data[j]["Key"]
          document.write("<option>"+t+"</option>")
        }
      </script>

    
        
    </select>
    

    </div>
  
    <h4>Template Fields</h4>
    <div class="" id="dymf" style="text-transform: capitalize;">
      <!-- fields goes here -->
    </div>

    <script type="text/javascript">
      function display(obj) {
        var sel =  document.getElementById(obj);
        for(k=0;k<data.length;k++) {
          if( sel.value == data[k]["Key"]) {
            var x = data[k]["Record"];
            
            var a1 = x["fields"]
            var fields = a1.split(",")
            var dbox = document.getElementById('dymf')
            while (dbox.firstChild) {
              dbox.removeChild(dbox.firstChild);
            }
            for(c=0;c<fields.length;c++) {
              var h5 = document.createElement('h5');
              h5.innerHTML = "- "+fields[c];
              dbox.appendChild(h5);
            }
            for(s=1;s<Object.keys(x).length;s++) {
              var sps = x["subject"+s].split(",");
              var sub =  document.createElement('h4')
              sub.innerHTML = "Subject "+s;
              dbox.appendChild(sub);
              var sc =  document.createElement('h5')
              sc.innerHTML = "- "+sps[0];
              dbox.appendChild(sc);
              var sc =  document.createElement('h5')
              sc.innerHTML = "- "+sps[1];
              dbox.appendChild(sc);
              var sc =  document.createElement('h5')
              sc.innerHTML = "- "+sps[2];
              dbox.appendChild(sc);

            } 

            
          }
        }
               
      }
    </script>

</div>
</div>
</div>

<!-- Modal for new field-->
<div id="myFieldGenerate" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="">New Field</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <label>Enter Field Name</label>
          <input id="newField" class="form-control" type="text" name="field" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="generate('newField');" data-dismiss="modal">Submit</button>
      </div>
    </div>
  
  </div>
</div>
<!-- Modal for new field end -->

<!-- Modal for Subjects field-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="">Enter Subject details</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
          <label>Enter Course id</label>
          <input id="id" class="form-control" type="text" name="" required>

          <label>Enter Course Title</label>
          <input id="title" class="form-control" type="text" name="" required>

          <label>Enter Credit Hours</label>
          <input id="hours" class="form-control" type="text" name="" required>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="generate_subject('id','title','hours');" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal for Subjectsfield end -->

<script type="text/javascript">

  var abc ="";
  function generate(getVal) {
    var dym = document.getElementById("dynamic");
    var inVal = document.getElementById(getVal);
    if(inVal.value == "") {
      alert("Please enter value !")
    } else {

    countTF();
    
    var fbox = document.createElement('div');
    fbox.classList.add("fbox");
    fbox.id = "fb"+ctf;

    
    var finput = document.createElement('input');
    finput.classList.add("form-control");
    finput.classList.add("field");
    // finput.disabled = true;
    finput.type = "text";
    finput.name = "Field"
    finput.value = inVal.value;
    finput.id = "f"+ctf;
    finput.readOnly = true;


    var dbe = document.createElement('div');
    //dbe.class = "fbtn";
    dbe.classList.add("fbtn")
    dbe.id = "be"+ctf;

    var ie = document.createElement('i');
    //ie.class="fa fa-pencil";
    ie.classList.add("fa")
    ie.classList.add("fa-pencil")

    var dbr = document.createElement('div');
    //dbr.class = "fbtn";
    dbr.classList.add("fbtn")
    dbr.id = "br"+ctf; 

    var ir = document.createElement('i');
    //ir.class="fa fa-remove"; 
    ir.classList.add("fa")  
    ir.classList.add("fa-remove")  

    // dbe.setAttribute('onclick','edit('+finput.id+','+dbe.id+');');
    dbe.onclick = function() { edit(finput.id,dbe.id); };
    dbr.onclick = function() { remove(fbox.id); };

    fbox.appendChild(finput);

    dbr.appendChild(ir);
    fbox.appendChild(dbr);

    dbe.appendChild(ie);
    fbox.appendChild(dbe);
    
    dym.appendChild(fbox);

    inVal.value = "";

    }

  }


  function edit(obj,btn) {

        var x=document.getElementById(obj);
        if(x.value != "") {
          if(x.readOnly == true) {
            var button=document.getElementById(btn);
            var icon = button.getElementsByTagName('i')[0]
            icon.setAttribute('class', 'fa fa-save');
            x.readOnly = false;
            x.focus();
          } else if(x.readOnly == false) {
            var button=document.getElementById(btn);
            var icon = button.getElementsByTagName('i')[0]
            icon.setAttribute('class', 'fa fa-pencil');
            x.readOnly = true;
            x.focus();
          }
        } else {
          alert("Field cannot be empty");
          x.focus();
        }
        
      }

  function edit_subject(obj1,obj2,obj3,btn) {

        var x=document.getElementById(obj1);
        var y=document.getElementById(obj2);
        var z=document.getElementById(obj3);
        if(x.value != "" && y.value != "" && z.value != "") {
          if(x.readOnly == true) {
            var button=document.getElementById(btn);
            var icon = button.getElementsByTagName('i')[0]
            icon.setAttribute('class', 'fa fa-save');
            x.readOnly = false;
            y.readOnly = false;
            z.readOnly = false;
            x.focus();
          } else if(x.readOnly == false) {
            var button=document.getElementById(btn);
            var icon = button.getElementsByTagName('i')[0]
            icon.setAttribute('class', 'fa fa-pencil');
            x.readOnly = true;
            y.readOnly = true;
            z.readOnly = true;
            x.focus();
          }
        } else {
          alert("Field cannot be empty");
          x.focus();
        }
        
      }

      function remove(boxid) {
        var box = document.getElementById(boxid);
        box.parentNode.removeChild(box);
      }

/*

        function generate(){
          
            var dym = document.getElementById("dynamic");
            // while (container.hasChildNodes()) {
            //     container.removeChild(container.lastChild);
            // }
            
            /*var get = document.getElementById("label").value;
                // dym.appendChild(document.createTextNode("<label>NEW FIELD</label>"));
                var newlabel = document.createElement("Label");
newlabel.innerHTML = get;
dym.appendChild(newlabel);
                dym.appendChild(document.createElement("br"));*/

                /*
                var input = document.createElement("input");
                input.type = "text";
                input.classList.add("form-control");
                
                dym.class = "form-control";
                dym.appendChild(input);
                dym.appendChild(document.createElement("br"));

            
        }

*/

        function generate_subject(obj1,obj2,obj3){
          
            var dym = document.getElementById("sub");
      

                var get_id = document.getElementById(obj1).value;
                var get_title = document.getElementById(obj2).value;
                var get_credit = document.getElementById(obj3).value;

              
                counter();

                var subbox = document.createElement("div");
                subbox.classList.add("subbox");
                subbox.id = "sb"+count;

                var sbh5 = document.createElement("h5");
                sbh5.innerHTML = "Subject "+count;


                
                
                var f1 = document.createElement("input");
                f1.type = "text";
                f1.id = "s"+count+"f1";
                f1.name = "scode";
                f1.value = get_id;
                f1.classList.add("form-control");
                f1.classList.add("sfield");
                f1.readOnly = true;

                var f2 = document.createElement("input");
                f2.type = "text";
                f2.id = "s"+count+"f2";
                f2.name = "sname";
                f2.value = get_title;
                f2.classList.add("form-control");
                f2.classList.add("sfield");
                f2.readOnly = true;

                var f3 = document.createElement("input");
                f3.type = "text";
                f3.id = "s"+count+"f3";
                f3.name = "scredit";
                f3.value = get_credit;
                f3.classList.add("form-control");
                f3.classList.add("sfield");
                f3.readOnly = true;

                var dbe = document.createElement('div');
                dbe.classList.add("fbtn")
                dbe.id = "sube"+count;

                var ie = document.createElement('i');
                ie.classList.add("fa")
                ie.classList.add("fa-pencil")

                var dbr = document.createElement('div');
                dbr.classList.add("fbtn")
                dbr.id = "subr"+count; 

                var ir = document.createElement('i');
                ir.classList.add("fa")  
                ir.classList.add("fa-remove")  

                dbe.onclick = function() { edit_subject(f1.id,f2.id,f3.id,dbe.id); };
                dbr.onclick = function() { remove(subbox.id); };

                dym.appendChild(subbox);

                subbox.appendChild(sbh5);

                dbr.appendChild(ir);
                sbh5.appendChild(dbr);
                
                dbe.appendChild(ie);
                sbh5.appendChild(dbe);

                subbox.appendChild(f1);
                subbox.appendChild(f2);
                subbox.appendChild(f3);
                

                document.getElementById("id").value = "";
                document.getElementById("title").value = "";
                document.getElementById("hours").value = "";
              


        } 

        var count = 0;
        var ctf = 4;

        function counter(){
          if(! count) {
          count = 0;
        }

        count++;
        } 

        function countTF(){
          if(! ctf) {
          ctf = 0;
        }

        ctf++;
        }       
</script>

<!-- /form end -->

<div class="container-fluid footer-cont">
  <div class="row">
    <div class="ftb col-md-12"><span style="border-bottom: 5px solid #7cae27; padding-bottom: 5px;"> &copy 2018 - Sir Syed University of Engineering and Technology </span></div>
  </div>
</div> 
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



  </body>
</html>