<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | View Template</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


<style type="text/css">
@font-face {
  font-family: Montserrat-Regular;
  src: url('/fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('/fonts/montserrat/Montserrat-Medium.ttf'); 
}

.tdata {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 5px !important;
  overflow: hidden;

}

.tdata, .tdata tr td{
  border-bottom:  1px solid #7f7f7f !important;
  vertical-align: middle !important;
  font-family: Montserrat-Regular;
  font-size: 12px;
}
.tdata tr th {
  background: #253136;
  color: #fff;
  border: 0px groove #fff !important;
  vertical-align: middle !important;
  font-family: Montserrat-Regular;
  font-size: 12px;
}

.fielddata {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 10px !important;
  overflow: hidden;

}

.fielddata tr td{
  border:  1px solid #7f7f7f !important;
  /*-webkit-box-shadow:inset 0px 0px 0px 1px #f4f2f2;
    -moz-box-shadow:inset 0px 0px 0px 1px #f4f2f2;
    box-shadow:inset 0px 0px 0px 1px #f4f2f2;*/
    vertical-align: middle !important;
    font-family: Montserrat-Regular;
    font-size: 12px;
  }
  .fielddata tr th {
    background: #253136;
    color: #fff;
    border: 0px groove #fff !important;
    vertical-align: middle !important;
    font-family: Montserrat-Regular;
    font-size: 12px;
  }


  .fdata tr td {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }
</style>

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
</script>


</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          View Template
          <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Template</li>
          <li class="active">View</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">
       <div class="row">
        <div class="col-md-12">
          <div class="box box-default" style="border-top: 3px solid #253136;padding-bottom: 10px;" >
            <!-- /.box-header -->
            <!-- form start -->
            <script type="text/javascript">
              data = {};
              data = <%- JSON.stringify(result) %>;
            </script>

            <div class="box-body">
              <div class="form-group">
                <h4 >Select Template Key</h4>
                <select class="form-control" id="tempKey" onchange="display('tempKey')" style="border-radius: 5px;">
                  <option>none</option>
                  <script type="text/javascript">
                    for(j=0;j<data.length;j++) {
                      var t = data[j]["Key"]
                      document.write("<option>"+t+"</option>")
                    }
                  </script>
                </select>  
              </div>

              <div id="datadisplay1" style="display: none;">

                <!-- Fields Table -->
                <div class="col-md-12 col-sm-12" style="padding-right: 0px;padding-left:0px;text-transform: capitalize;">
                  <div class="box-body table-responsive" style="background: ;">
                    <table class="table table-hover fielddata" style="">
                      <thead>
                        <tr>
                          <th colspan="8" style="background:;font-size: 14px;text-transform: uppercase;"><center>Template Fields</center></th>
                        </tr>
                        <tr>
                          <th width="5%">S.No</th>
                          <th width="20%">Field Name</th>
                          <th width="5%">S.No</th>
                          <th width="20%">Field Name</th>
                          <th width="5%">S.No</th>
                          <th width="20%">Field Name</th>
                          <th width="5%">S.No</th>
                          <th width="20%">Field Name</th>

                        </tr>
                      </thead>
                      <tbody id="dfields">
                        <!-- Subjects Goes Here -->
                        <!-- <tr><td><strong><center>1</center></strong></td><td>Student ID</td><td><strong><center>1</center></strong></td><td>Student ID</td><td><strong><center>1</center></strong></td><td>Student ID</td><td><strong><center>1</center></strong></td><td>Student ID</td></tr> -->

                      </tbody>
                    </table>
                  </div>
                </div>

              </div> <!-- Data Display 1 -->


            </div>

            <div id="datadisplay2" style="display: none;">
              <!-- Table box -->
              <div class="row" style="margin-top: -20px;">


                <!-- Semester 1 -->
                <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;" id="sem1">
                  <div class="box-body table-responsive" style="background: ;">
                    <table class="table table-hover tdata" style="">
                      <thead>
                        <tr>
                          <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>1st Semester</center></th>
                        </tr>
                        <tr>
                          <th width="5%">S.No</th>
                          <th width="20%">Code</th>
                          <th width="55%">Name</th>
                          <th width="20%">Credit Hours</th>
                        </tr>
                      </thead>
                      <tbody id="dsubs1">
                        <!-- Subjects Goes Here -->
                    <!-- <tr><td><strong><center>1</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>3</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>5</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>7</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>9</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr> -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 2 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;" id="sem2">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>2nd Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs2">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 3 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;" id="sem3">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>3rd Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs3">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 4 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;" id="sem4">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>4th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs4">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 5 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;" id="sem5">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>5th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs5">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 6 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;" id="sem6">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>6th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs6">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 7 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;" id="sem7">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>7th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs7">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 8 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;" id="sem8">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>8th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="55%">Name</th>
                      <th width="20%">Credit Hours</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs8">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>




          </div> <!-- Tables Row End -->
        </div> <!-- Display ID Div -->


        <!-- /.box-body -->
        <script type="text/javascript">
          function display(obj) {
            var sel =  document.getElementById(obj);
            var dbox = document.getElementById('dfields');

            var dsub1 = document.getElementById('dsubs1');
            var dsub2 = document.getElementById('dsubs2');
            var dsub3 = document.getElementById('dsubs3');
            var dsub4 = document.getElementById('dsubs4');
            var dsub5 = document.getElementById('dsubs5');
            var dsub6 = document.getElementById('dsubs6');
            var dsub7 = document.getElementById('dsubs7');
            var dsub8 = document.getElementById('dsubs8');
            check = 0;


            document.getElementById("sem1").style.display = "block";
            document.getElementById("sem2").style.display = "block";
            document.getElementById("sem3").style.display = "block";
            document.getElementById("sem4").style.display = "block";
            document.getElementById("sem5").style.display = "block";
            document.getElementById("sem6").style.display = "block";
            document.getElementById("sem7").style.display = "block";
            document.getElementById("sem8").style.display = "block";





            for(k=0;k<data.length;k++) {
              if(sel.value == "none") { 

                var dbox = document.getElementById('dfields');
                document.getElementById("datadisplay1").style.display = "none";
                document.getElementById("datadisplay2").style.display = "none";

                while (dbox.firstChild) {
                  dbox.removeChild(dbox.firstChild);
                }
                while (dsub1.firstChild) {
                  dsub1.removeChild(dsub1.firstChild);
                }
                while (dsub2.firstChild) {
                  dsub2.removeChild(dsub2.firstChild);
                }
                while (dsub3.firstChild) {
                  dsub3.removeChild(dsub3.firstChild);
                }
                while (dsub4.firstChild) {
                  dsub4.removeChild(dsub4.firstChild);
                }
                while (dsub5.firstChild) {
                  dsub5.removeChild(dsub5.firstChild);
                }
                while (dsub6.firstChild) {
                  dsub6.removeChild(dsub6.firstChild);
                }
                while (dsub7.firstChild) {
                  dsub7.removeChild(dsub7.firstChild);
                }
                while (dsub8.firstChild) {
                  dsub8.removeChild(dsub8.firstChild);
                }

              }
              else {
                if( sel.value == data[k]["Key"]) {
                  var x = data[k]["Record"];

                  var a1 = x["fields"]
                  var fields = a1.split(",")


                  while (dbox.firstChild) {
                    dbox.removeChild(dbox.firstChild);
                  }
                  while (dsub1.firstChild) {
                    dsub1.removeChild(dsub1.firstChild);
                  }
                  while (dsub2.firstChild) {
                    dsub2.removeChild(dsub2.firstChild);
                  }
                  while (dsub3.firstChild) {
                    dsub3.removeChild(dsub3.firstChild);
                  }
                  while (dsub4.firstChild) {
                    dsub4.removeChild(dsub4.firstChild);
                  }
                  while (dsub5.firstChild) {
                    dsub5.removeChild(dsub5.firstChild);
                  }
                  while (dsub6.firstChild) {
                    dsub6.removeChild(dsub6.firstChild);
                  }
                  while (dsub7.firstChild) {
                    dsub7.removeChild(dsub7.firstChild);
                  }
                  while (dsub8.firstChild) {
                    dsub8.removeChild(dsub8.firstChild);
                  }


                  var forfield ="";
                  for(c=0;c<fields.length;c++) {
                    ftr = document.createElement('tr');


                    forfield += "<td><strong><center>"+(c+1)+"</center></strong></td><td>"+fields[c]+"</td>";

                    if((c+1)%4 == 0) {
                      ftr.innerHTML = forfield;
                      dbox.appendChild(ftr);
                      forfield = "";
                    }

                  }

                  ftr.innerHTML = forfield;
                  dbox.appendChild(ftr);


                  for(s=1;s<Object.keys(x).length;s++) {
                    var sps = x["subject"+s].split(",");

                    var tr =  document.createElement('tr');

                    var td1 = document.createElement('td');
                    td1.innerHTML = "<strong><center> "+s+" </center></strong>";

                    var td2 = document.createElement('td');
                    td2.setAttribute("style", "text-transform:uppercase;");
                    td2.innerHTML = sps[0];

                    var td3 = document.createElement('td');
                    td3.innerHTML = sps[1];

                    var td4 = document.createElement('td');
                    td4.innerHTML ="<center> "+sps[2]+" </center>";

                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tr.appendChild(td4);

                    if(s <= 5 ) {
                      dsub1.appendChild(tr);
                    } else if(s <= 10 ) {
                      dsub2.appendChild(tr);
                    }  else if(s <= 15 ) {
                      dsub3.appendChild(tr);
                    }  else if(s <= 20 ) {
                      dsub4.appendChild(tr);
                    }  else if(s <= 25 ) {
                      dsub5.appendChild(tr);
                    }  else if(s <= 30 ) {
                      dsub6.appendChild(tr);
                    }  else if(s <= 35 ) {
                      dsub7.appendChild(tr);
                    }  else if(s <= 40 ) {
                      dsubs8.appendChild(tr);
                    } 
                    check = s;

                  } 

                  //Box Disply None check start:
                  if(check < 41 ) {

                  }

                  if(check < 36 ) {

                    document.getElementById("sem8").style.display = "none";
                  }

                  if(check < 31 ) {

                    document.getElementById("sem7").style.display = "none";
                    document.getElementById("sem8").style.display = "none";

                  }
                  if(check < 26 ) {

                    document.getElementById("sem6").style.display = "none";
                    document.getElementById("sem7").style.display = "none";
                    document.getElementById("sem8").style.display = "none";

                  }
                  if(check < 21 ) {

                    document.getElementById("sem5").style.display = "none";
                    document.getElementById("sem6").style.display = "none";
                    document.getElementById("sem7").style.display = "none";
                    document.getElementById("sem8").style.display = "none";

                  }
                  if(check < 16 ) {
                    document.getElementById("sem4").style.display = "none";
                    document.getElementById("sem5").style.display = "none";
                    document.getElementById("sem6").style.display = "none";
                    document.getElementById("sem7").style.display = "none";
                    document.getElementById("sem8").style.display = "none";

                  }
                  if(check < 11 ) {
                    document.getElementById("sem3").style.display = "none";
                    document.getElementById("sem4").style.display = "none";
                    document.getElementById("sem5").style.display = "none";
                    document.getElementById("sem6").style.display = "none";
                    document.getElementById("sem7").style.display = "none";
                    document.getElementById("sem8").style.display = "none";

                  }
                  if(check < 6 ) {
                    document.getElementById("sem2").style.display = "none";
                    document.getElementById("sem3").style.display = "none";
                    document.getElementById("sem4").style.display = "none";
                    document.getElementById("sem5").style.display = "none";
                    document.getElementById("sem6").style.display = "none";
                    document.getElementById("sem7").style.display = "none";
                    document.getElementById("sem8").style.display = "none";

                  }
                  //check end
                  check = 0;


                }
                document.getElementById("datadisplay1").style.display = "block";
                document.getElementById("datadisplay2").style.display = "block";
              }
            }


          }
        </script>


      </div>
    </div>



  </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>