<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | All Users</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style type="text/css">
td {
  text-transform: capitalize; 
}
</style>

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  
  

</script>

</head>


<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="padding-top: 10px !important;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        All Users Details
        <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Users</li>
        <li class="active">Details</li>
      </ol>
    </section>

    <script type="text/javascript">
      ausers = {};
      ausers = <%- JSON.stringify(result) %>;
    </script>

    <!-- Main content -->
    <section class="content ">
     <div class="row">
      <div class="col-xs-12">
        <div class="box" style="border-top: 3px solid #253136;">
          <div class="box-header">
            <!-- <h3 class="box-title"></h3> -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID#</th>
                  <th>Username</th>
                  <th>Permission</th>
                  <th>Status</th>
                  <th>Approve Status</th>
                </tr>
              </thead>
              <tbody>

                <script type="text/javascript">
                  for(i = 0;i<ausers.length;i++) {
                    var userid = ausers[i].Record.userid;
                    var username = ausers[i].Record.username;
                    var permission = ausers[i].Record.permission;
                    var active = ausers[i].Record.active;
                    var approve = ausers[i].Record.approve;
                    
                    document.write('<tr>');
                    document.write('<td>'+userid+'</td>');
                    document.write('<td>'+username+'</td>');
                    if(permission == "1") { document.write('<td>Admin</td>'); } 
                    else if(permission == "2") { document.write('<td>Approver</td>'); } 
                    else if(permission == "3") { document.write('<td>Data Entry Operator</td>'); }
                    else if(permission == "4") { document.write('<td>Controller of Examination</td>'); }

                    if(active == false) { document.write('<td><span class="label label-warning">Inactive</span></td>'); } 
                    else if(active == true) { document.write('<td><span class="label label-success">Active</span></td>'); } 

                    if(approve == "0") { document.write('<td><span class="label label-warning">Pending</span></td>'); } 
                    else if(approve == "1") { document.write('<td><span class="label label-success">Approved</span></td>'); } 
                    else if(approve == "2") { document.write('<td><span class="label label-danger">Rejected</span></td>'); } 

                    document.write('</tr>');


                  }
                </script>
                
                
              </tbody>
              <tfoot>
                <tr>
                  <th>ID#</th>
                  <th>Username</th>
                  <th>Permission</th>
                  <th>Status</th>
                  <th>Approve Status</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>
  <!-- DataTables -->
  <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <!-- SlimScroll -->
  <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>

  <script>
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : false,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>