<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | All Approved Results</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <link rel="stylesheet" href="/plugins/iCheck/all.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  // var mdata = "null"
  // var smsg = "Successfully committed the change to the ledger by the peer.";
  // var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  // var smb = "<div class='box-body'>"+sif+"</div>"

  // var ermsg = "Transaction Failed."
  // var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  // var emb = "<div class='box-body'>"+eif+"</div>"
  
  
</script>
<style type="text/css">
.dysub {
  height: 25px;
  border-radius: 5px;
}
.table tbody tr td {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Approved Results
      <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Grades</li>
      <li class="active">View</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
   <div class="row">

    <script type="text/javascript">
      // if (mdata == "null") {

      // }else if(mdata == "1") {
      //   document.write(smb);
      // }else if(mdata == "0") {
      //   document.write(emb);
      // }

    </script>

    <div class="col-md-12">
      <div class="box box-default center-block" style="border-top: 3px solid #253136;">
        <!-- /.box-header -->
        <script type="text/javascript">

          std = {};
          std = <%- JSON.stringify(stdresult) %>;

          // alert(std[0]["Key"]);
        </script>
        <!-- form start -->
        <div class="box-header">
          <h3 class="box-title">Students</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th width="5%">S.NO</th>
                <th>Roll No</th>
                <th>Batch</th>
                <th>Department</th>
                <th>View Result</th>
              </tr>
            </thead>
            <tbody>

              <script type="text/javascript">
                for(i = 0;i<std.length;i++) {

                  document.write('<tr>');

                  document.write('<td><center>'+(i+1)+'</center></td>');
                  document.write('<td>'+std[i].Key+'</td>');

                  var det = std[i].Key.split('-');
                  document.write('<td>'+det[0]+'</td>');
                  document.write('<td>'+det[1]+'</td>');

                  document.write('<td> <form action="/viewapprovedresult" method="POST"> <input type="hidden" name="rollno" value="'+std[i].Key+'"> <input type="submit" class="btn btn-success" value="View Result"> </form> </td>')

                  document.write('</tr>');


                }
              </script>


            </tbody>
            <tfoot>
              <tr>
                <th width="5%">S.NO</th>
                <th>Roll No</th>
                <th>Batch</th>
                <th>Department</th>
                <th>View Result</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->        



      </div>
    </div>

    <script type="text/javascript">


      function makeForm(stdID) {
        var selstd = document.getElementById(stdID).value;
        for(i=0;i<std.length;i++) {
          if(selstd == "none") {
            var dsub = document.getElementById('dsubs');
            while (dsub.firstChild) {
              dsub.removeChild(dsub.firstChild);
            }
          }
          else if(selstd == std[i]["Key"]) {
            var tk = std[i]["Record"]["Template Key"];
            var dsub = document.getElementById('dsubs');

            while (dsub.firstChild) {
              dsub.removeChild(dsub.firstChild);
            }

            for(j=0;j<data.length;j++) {
              if(tk == data[j]["Key"]) {

                var datasub = data[j]["Record"];
                var subject = new Array();
                var c =1;


                while(datasub["subject"+c]) {

                  subject = datasub["subject"+c].split(',');
                  countSub();
                  var ttr = document.createElement('tr');

                  var ttd0 = document.createElement('td');
                  ttd0.innerHTML = count;
                  ttr.appendChild(ttd0);


                  var ttd1 = document.createElement('td');
                  ttd1.innerHTML = subject[0];
                  ttr.appendChild(ttd1);

                  var ttd2 = document.createElement('td');
                  ttd2.innerHTML = subject[1];
                  ttr.appendChild(ttd2);


                  var ttd3 = document.createElement('td');
                  var tse = document.createElement('input');
                  tse.type = "text";
                  tse.id = "ses"+count;
                  tse.classList.add('form-control');
                  tse.classList.add('dysub');
                  tse.value = 0;

                  ttd3.appendChild(tse);
                  ttr.appendChild(ttd3);


                  var ttd4 = document.createElement('td');
                  var fin = document.createElement('input');
                  fin.type = "text";
                  fin.id = "final"+count;
                  fin.classList.add('form-control');
                  fin.classList.add('dysub');
                  fin.value = 0;

                  ttd4.appendChild(fin);
                  ttr.appendChild(ttd4);



                  var ttd5 = document.createElement('td');
                  var tin = document.createElement('input');
                  tin.type = "text";
                  tin.id="sub"+count;
                  tin.name="Marks";
                  tin.classList.add('form-control');
                  tin.classList.add('dysub');
                  // tin.disabled = true;
                  tin.value = 0;

                  var hin = document.createElement('input');
                  hin.type = "hidden";
                  hin.name="Variable";
                  hin.value = datasub["subject"+c];


                  ttd5.appendChild(tin);
                  ttd5.appendChild(hin);
                  ttr.appendChild(ttd5);


                  var ttd4 = document.createElement('td');


                  // var ecb = document.createElement('input');
                  // ecb.type = "checkbox";
                  // ecb.id = "cb"+count;
                  // console.log("id "+ecb.id+" in "+tin.id);
                  // ecb.innerHTML = "EN";
                  // ecb.name = "cb"+count;
                  // var xcb = "cb"+count;

                  // var newcb = " <input type='checkbox' id='cb"+c+"' onclick='enableTF('cb"+c+"','sub"+c+"')'> ";
                  // ecb.classList.add('minimal');
                  
                  // ecb.onclick = function() { enableTF(ecb.id,tin.id) }


                  // ttd4.appendChild(ecb);



                  dsub.appendChild(ttr);

                  c++;


                }
                count=0;

              }
            }

          }

        }
        // for(xx=1;xx<=count;xx++) {
        //           var cbcb =  document.getElementById('cb'+xx);
        //           var inin = document.getElementById('sub'+xx);
        //           alert(cbcb.id+inin.id);
        //           cbcb.onclick = function() { enableTF(cbcb.id,inin.id) }

        //         }
      }


      function capitalFL(string) {
        return string[0].toUpperCase() + string.slice(1);
      }

      function display(obj) {
        var sel =  document.getElementById(obj);
        var sdd = document.getElementById('stdID');
        while (sdd.firstChild) {
          sdd.removeChild(sdd.firstChild);
        }
        var opn = document.createElement('option');
        opn.innerHTML = "none";
        sdd.appendChild(opn);

        if(sel.value == "none") {
          if(std) {
            for(j=0;j<std.length;j++) {
              var op = document.createElement('option');
              op.innerHTML = std[k]["Key"];
              sdd.appendChild(op);
            }
          }
        } else {
          for(k=0;k<std.length;k++) {
            if(sel.value == std[k]["Record"]["Template Key"]) {
              var op = document.createElement('option');
              op.innerHTML = std[k]["Key"];
              sdd.appendChild(op);

            }

          }
        }


      }  


      var count = 0;

      function countSub(){
        if(! count) {
          count = 0;
        }

        count++;
      } 

    </script>

        <!-- <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-info-circle"></i>

              <h3 class="box-title">Help</h3>
            </div>
            <div class="box-body">

            </div>
          </div>
        </div> -->


      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>
  <!-- DataTables -->
  <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <!-- SlimScroll -->
  <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>

  <script>
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>