<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Approve Users</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  
  var data = "<%= message%>";
  var smsg = "Successfully added the user.";
  var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  var smb = "<div class='box-body'>"+sif+"</div>"

  var ermsg = "User Creation Failed."
  var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  var emb = "<div class='box-body'>"+eif+"</div>"
  

</script>

</head>


<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="padding-top: 10px !important;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Approve Users
        <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Users</li>
        <li class="active">Approve Users</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid" style="padding-left: 30px;padding-right: 30px;">
     <div class="row">

       <script type="text/javascript">
        if (data == "null") {

        }else if(data == "1") {
          document.write(smb);
        }else if(data == "0") {
          document.write(emb);
        }

        huser = {};
        huser = <%- JSON.stringify(result) %>;

      </script>



   <script> 

 

    function toggleClass(element, className){
      if (!element || !className){
        return;
      }

      var classString = element.className, nameIndex = classString.indexOf(className);
      if (nameIndex == -1) {
        classString += ' ' + className;
      }
      else {
        classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
      }
      element.className = classString;
    }




    function myTog(pid,fid) {

      toggleClass(document.getElementById(fid),'glyphicon-menu-up');
      var pp = document.getElementById(pid);
      $("#"+pid).slideToggle("slow");

    }

    $(document).ready(function(){
      $("#panel").hide();
      $("#flip").click(function(){
        $(this).find('i').toggleClass('glyphicon-menu-down glyphicon-menu-up');
        $("#panel").slideToggle("slow");

      });
    });

    var check = false;

    for(i = 0;i<huser.length;i++) {
      if(huser[i].Record.approve == "0"){
        var key = huser[i].Key;
        var userid = huser[i].Record.userid;
        var username = huser[i].Record.username;
        var permission = huser[i].Record.permission;
        var per = ""
        if(permission == "1") { per = "Admin" }
        else if(permission == "2") { per = "Approver" }
        else if(permission == "3") { per = "Data Entry Operator" }
        else if(permission == "4") { per = "Controller of Examination" }
        var by = huser[i].Record.by;
        var tid = "flip1"
        var box = '<div class="panel col-lg-7" style="padding:0px;" id="box'+i+'"> <div class="panel-body"> <div class="row"><div class="col-sm-2" style="text-align: center;"> <i class="glyphicon glyphicon-user" style="font-size: 45px;"></i></div><div class="col-sm-8" style="padding-left: 0px;padding-right: 0px;" > <h4>'+username+' approval request has been submitted by '+by+'</h4></div> <div class="col-sm-2" style="text-align: center;" id="flip'+i+'"> <i class="glyphicon glyphicon-menu-down" id="i'+i+'" style="font-size: 30px;"></i> </div> </div> <div class="row" id="panel'+i+'" style="display: block ;"><br> <div class="col-sm-2"></div> <div class="col-sm-8" > <table class="table"> <tbody> <tr> <td>User ID</td> <td>'+userid+'</td> </tr> <tr> <td>Username</td> <td>'+username+'</td> </tr> <tr> <td>Permission Level</td> <td>'+per+'</td> </tr> <tr> <td>Created By</td> <td>'+by+'</td> </tr> </tbody> </table> </div> </div> <div class="row"> <div class="col-sm-2" style="height: auto;display:inline-block;margin-top: 10px;"></div> <div style="display:inline-block;margin-left: ;margin-top: 10px;" > <form action="/approveuser" method="POST" style="display:inline-block;"> <input type="hidden" name="userkey" value="'+key+'"> <button type="submit" class="btn btn-success" name="approvebtn">Approve</button></form> <form action="/rejectuser" method="POST" style="display:inline-block;"> <input type="hidden" name="userkey" value="'+key+'"> <button type="submit" class="btn btn-danger" name="rejectbtn" style="margin-left: 10px;">Reject</button></form></div> </div> </div> </div>';
        document.write(box);
        check = true;
      }

    }

    if(check == false) {
      var m = '<div class="panel col-md-12" style="background: ;padding:0px;"><div class="panel-body"><div class="row"><div class="col-md-12" style="text-align:center;padding-left: 0px;padding-right: 0px;" ><h4> <i class="fa fa-info-circle" style="font-size: 20px;position:absolute;padding-top: 1px;margin-left: -10px;"></i>&nbsp;&nbsp; No User Approval Request</h4></div></div></div></div>';
      document.write(m);

    }

    // for(i = 0;i<huser.length;i++) {
    //     var ff = "flip"+i;
    //     var pp = "panel"+i;
    //     var ii = "i"+i;
    //     document.getElementById(ff).onclick = function() { myTog(pp,ii); };

    // }
  </script>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="">Confirmation</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure to reject this request ? </p>
        <input type="text" class="form-control" name="reason" placeholder="Reason">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="">Save changes</button>
      </div>
    </div>
  </div>
</div>


</div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>