<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | All Created Degree</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <link rel="stylesheet" href="/plugins/iCheck/all.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  // var mdata = "null"
  // var smsg = "Successfully committed the change to the ledger by the peer.";
  // var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  // var smb = "<div class='box-body'>"+sif+"</div>"

  // var ermsg = "Transaction Failed."
  // var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  // var emb = "<div class='box-body'>"+eif+"</div>"
  
  
</script>
<style type="text/css">
.dysub {
  height: 25px;
  border-radius: 5px;
}
.table tbody tr td {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          All Created Degree
          <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li class="active">Grades</li>
          <li class="active">View</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content container-fluid">
       <div class="row">

        <script type="text/javascript">
      // if (mdata == "null") {

      // }else if(mdata == "1") {
      //   document.write(smb);
      // }else if(mdata == "0") {
      //   document.write(emb);
      // }

    </script>

    <div class="col-md-12">
      <div class="box box-default center-block" style="border-top: 3px solid #253136;">
        <!-- /.box-header -->
        <script type="text/javascript">

          deg = {};
          deg = <%- JSON.stringify(degresult) %>;

          var count = 0;

          function ctr(){
            if(! count) {
              count = 0;
            }

            count++;
          }

        </script>
        <!-- form start -->
        <div class="box-header">
          <h3 class="box-title">Students</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th width="5%">S.NO</th>
                <th>Degree No</th>
                <th>Roll No</th>
                <th>Department</th>
                <th>Batch</th>
              </tr>
            </thead>
            <tbody>

              <script type="text/javascript">
                for(i = 0;i<deg.length;i++) {
                  if( deg[i].Record["approver"] == "0" && deg[i].Record["controller"] == "0" ) {
                    ctr();
                    document.write('<tr>');

                    document.write('<td><strong><center>'+count+'</center></strong></td>');
                    document.write('<td>'+deg[i].Key+'</td>');
                    document.write('<td>'+deg[i].Record["roll no"]+'</td>');

                    var det = deg[i].Record["roll no"].split('-');
                    document.write('<td>'+det[1]+'</td>');
                    document.write('<td>'+det[0]+'</td>');


                    document.write('</tr>');

                  }
                }
              </script>


            </tbody>
            <tfoot>
              <tr>
                <th width="5%">S.NO</th>
                <th>Degree No</th>
                <th>Roll No</th>
                <th>Department</th>
                <th>Batch</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->        



      </div>
    </div>

    <script type="text/javascript">



    </script>

    


  </div>



</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Academic Records Verification System
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->

<!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>
  <!-- DataTables -->
  <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <!-- SlimScroll -->
  <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>

  <script>
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>