<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  var tag = ""
  if(permission == "1") {tag="Admin"} else if(permission == "1") { tag="Approver"} else if(permission == "1") { tag="Data Entry Operator"}
</script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>
    

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
     <div class="row">

      <script type="text/javascript">
        if(permission == "1") {
          document.write('<div class="col-lg-3 col-xs-6"> <div class="small-box bg-aqua"><div class="inner"><h3>1</h3><p>Organization</p></div><div class="icon"><i class="fa fa-institution"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>8</h3><p>Peers</p></div><div class="icon"><i class="fa fa-dot-circle-o"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-yellow"><div class="inner"><h3>9</h3><p>Users</p></div><div class="icon"><i class="fa fa-users"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner"><h3>1</h3><p>Orderer</p></div><div class="icon"><i class="fa fa-reorder"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>15</h3><p>User Channel Blocks</p></div><div class="icon"><i class="ion ion-cube"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-yellow"><div class="inner"><h3>15</h3><p>Template Channel Blocks</p></div><div class="icon"><i class="ion ion-cube"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-red"><div class="inner"><h3>9</h3><p>Admission Channel Blocks</p></div><div class="icon"><i class="ion ion-cube"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>55</h3><p>Grade Channel Blocks</p></div><div class="icon"><i class="ion ion-cube"></i></div></div></div><div class="col-lg-3 col-xs-6"><div class="small-box bg-red"><div class="inner"><h3>23</h3><p>Degree Channel Blocks</p></div><div class="icon"><i class="ion ion-cube"></i></div></div></div>')
        }
        else if(permission == "2") {
          document.write('<div class="col-lg-3 col-xs-6"><div class="small-box bg-yellow"><div class="inner"><h3>3</h3><p>Pending Result Approvals</p></div><div class="icon"><i class="fa fa-edit"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-blue"><div class="inner"><h3>1</h3><p>Pending Degree Approvals</p></div><div class="icon"><i class="fa fa-graduation-cap"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>0</h3><p>Pending User Approvals</p></div><div class="icon"><i class="ion ion-person"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-yellow"><div class="inner"><h3>5</h3><p>Approved Results</p></div><div class="icon"><i class="fa fa-edit"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-aqua"><div class="inner"><h3>2</h3><p>Approved Degrees</p></div><div class="icon"><i class="fa fa-graduation-cap"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>4</h3><p>Approved Users</p></div><div class="icon"><i class="ion ion-person"></i></div></div></div>');

        } else if(permission == "3") {
          document.write('<div class="col-lg-3 col-xs-6"><div class="small-box bg-yellow"><div class="inner"><h3>5</h3><p>No of Students</p></div><div class="icon"><i class="ion ion-person"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>3</h3><p>Number of Results</p></div><div class="icon"><i class="fa fa-edit"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-red"><div class="inner"><h3>2</h3><p>Number of Rejected Results</p></div><div class="icon"><i class="ion ion-thumbsdown"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-blue"><div class="inner"><h3>2</h3><p>Number of Degrees Created</p></div><div class="icon"><i class="fa fa-graduation-cap"></i></div></div></div>');
        } else if(permission == "4") {
          document.write('<div class="col-lg-3 col-xs-6"><div class="small-box bg-green"><div class="inner"><h3>3</h3><p>Published Degrees</p></div><div class="icon"><i class="fa fa-graduation-cap"></i></div></div></div> <div class="col-lg-3 col-xs-6"><div class="small-box bg-red"><div class="inner"><h3>3</h3><p>Pending Degrees for Approval</p></div>');
        }


      </script>




     <!--  <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>1</h3>

            <p>Organization</p>
          </div>
          <div class="icon">
            <i class="fa fa-institution"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-green">
          <div class="inner">
            <h3>8</h3>

            <p>Peers</p>
          </div>
          <div class="icon">
            <i class="fa fa-dot-circle-o"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>9</h3>

            <p>Users</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>1</h3>

            <p>Orderer</p>
          </div>
          <div class="icon">
            <i class="fa fa-reorder"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-green">
          <div class="inner">
            <h3>15</h3>

            <p>User Channel Blocks</p>
          </div>
          <div class="icon">
            <i class="ion ion-cube"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>15</h3>

            <p>Template Channel Blocks</p>
          </div>
          <div class="icon">
            <i class="ion ion-cube"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-red">
          <div class="inner">
            <h3>9</h3>

            <p>Admission Channel Blocks</p>
          </div>
          <div class="icon">
            <i class="ion ion-cube"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
       
        <div class="small-box bg-green">
          <div class="inner">
            <h3>55</h3>

            <p>Grade Channel Blocks</p>
          </div>
          <div class="icon">
            <i class="ion ion-cube"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        
        <div class="small-box bg-red">
          <div class="inner">
            <h3>23</h3>

            <p>Degree Channel Blocks</p>
          </div>
          <div class="icon">
            <i class="ion ion-cube"></i>
          </div>
        </div>
      </div> 

    -->




    </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>