<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | View Template</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


<style type="text/css">
@font-face {
  font-family: Montserrat-Regular;
  src: url('/fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('/fonts/montserrat/Montserrat-Medium.ttf'); 
}

.tdata {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 5px !important;
  overflow: hidden;

}

.tdata, .tdata tr td{
  border-bottom:  1px solid #7f7f7f !important;
  vertical-align: middle !important;
  font-family: Montserrat-Regular;
  font-size: 12px;
}
.tdata tr th {
  background: #253136;
  color: #fff;
  border: 0px groove #fff !important;
  vertical-align: middle !important;
  font-family: Montserrat-Regular;
  font-size: 12px;
}

.fielddata {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 10px !important;
  overflow: hidden;

}

.fielddata tr td{
  border:  1px solid #7f7f7f !important;
  /*-webkit-box-shadow:inset 0px 0px 0px 1px #f4f2f2;
    -moz-box-shadow:inset 0px 0px 0px 1px #f4f2f2;
    box-shadow:inset 0px 0px 0px 1px #f4f2f2;*/
    vertical-align: middle !important;
    font-family: Montserrat-Regular;
    font-size: 12px;
  }
  .fielddata tr th {
    background: #253136;
    color: #fff;
    border: 0px groove #fff !important;
    vertical-align: middle !important;
    font-family: Montserrat-Regular;
    font-size: 12px;
  }


  .fdata tr td {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }
</style>

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";

  var mdata = "<%= message%>";
  var smsg = "Successfully committed the change to the ledger by the peer.";
  var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  var smb = "<div class='box-body'>"+sif+"</div>"

  var ermsg = "Transaction Failed."
  var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  var emb = "<div class='box-body'>"+eif+"</div>"
</script>


</head>



<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Delete User
       <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
     </h1>
     <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Users</li>
      <li class="active">Delete</li>
    </ol>
  </section>

  <script type="text/javascript">
    if (mdata == "null") {

    }else if(mdata == "1") {
      document.write(smb);
    }else if(mdata == "0") {
      document.write(emb);
    }

  </script>

  <!-- Main content -->
  <section class="content container-fluid">
   <div class="row">
    <div class="col-md-12">
      <div class="box box-default" style="border-top: 3px solid #253136;padding-bottom: 10px;" >
        <!-- /.box-header -->
        <!-- form start -->
        <script type="text/javascript">
          data = {};
          data = <%- JSON.stringify(result) %>;
        </script>

        <div class="box-body">
          <form action="deleteuser" method="POST" id="userform" onsubmit="return checkPer();">

            <div class="form-group">
              <h4 >Select User ID</h4>
              <select class="form-control" id="userid" name="userid" style="border-radius: 5px;">
                <option>none</option>
                <script type="text/javascript">
                  for(j=0;j<data.length;j++) {
                    if( data[j].Record.active == true) {
                      var t =  data[j].Record.userid+" - "+data[j].Record.username;
                      document.write("<option value="+data[j]["Key"]+">"+t+"</option>")
                    }
                  }
                </script>
              </select>  
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary " style="margin-left: 2px;">Delete User</button>

            </div>
          </form>

        </div>




        <!-- /.box-body -->


      </div>
    </div>



  </div>

  <script type="text/javascript">
    function checkPer() {
      var formEl = document.forms.userform;
      var formData = new FormData(formEl);
      var perm = formData.get('userid');

      if(perm == "none") {
        return false;
        alert("Please! Select User")
      } else {
        return true;
      }

    }
  </script>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>