<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Result</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <link rel="stylesheet" href="/plugins/iCheck/all.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  
  // var mdata = "null"
  // var smsg = "Successfully committed the change to the ledger by the peer.";
  // var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  // var smb = "<div class='box-body'>"+sif+"</div>"

  // var ermsg = "Transaction Failed."
  // var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  // var emb = "<div class='box-body'>"+eif+"</div>"
  
  
</script>
<style type="text/css">
.dysub {
  height: 25px;
  border-radius: 5px;
}
.table tbody tr td {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Result
      <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Grades</li>
      <li class="active">Add Student Result</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
   <div class="row">

    <script type="text/javascript">
      // if (mdata == "null") {

      // }else if(mdata == "1") {
      //   document.write(smb);
      // }else if(mdata == "0") {
      //   document.write(emb);
      // }

    </script>

    <div class="col-md-12">
      <div class="box box-default center-block" style="border-top: 3px solid #253136;">
        <!-- /.box-header -->
        <script type="text/javascript">
          data = {};
          data = <%- JSON.stringify(tempresult) %>;

          std = {};
          std = <%- JSON.stringify(stdresult) %>;

          // alert(std[0]["Key"]);
        </script>
        <!-- form start -->
        <form role="form" action="/saveresult" method="POST" id="mygrade">
          <input type="hidden" name="userid" value="<%= username%>">
          <div class="box-body">

            <div class="form-group">
              <h4>Template Key</h4>
              <select class="form-control" id="tempKey" name="tempkey" onchange="display('tempKey')" style="border-radius: 5px;" required>
                <option>none</option>
                <script type="text/javascript">
                  if(data) {
                    for(j=0;j<data.length;j++) {
                      var t = data[j]["Key"]
                      document.write("<option>"+t+"</option>")
                    }
                  }
                </script>
              </select>

              <h4>Student Id</h4>
              <select class="form-control" id="stdID" name="stdid" onchange="makeForm('stdID')" style="border-radius: 5px;" required>
                <option>none</option>
                <script type="text/javascript">
                  if(std) {
                    for(j=0;j<std.length;j++) {
                      var t = std[j]["Key"]
                      document.write("<option>"+t+"</option>")
                    }
                  }
                </script>
              </select>

              <!-- <h4>Semester</h4>
              <select class="form-control" id="semester" name="semester" style="border-radius: 5px;" required>
                <option>none</option>
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
                
              </select> -->

            </div>

            <div id="dymf">
              <!-- Fields goes here -->


              


              <div class="col-xs-12">
                <div class="box-header">
                  <h3 class="box-title">Subjects</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th width="12%">Sessionals</th>
                        <th width="12%">Final</th>
                        <th >Total Marks</th>
                        <!-- <th width="5%">Enable</th> -->
                      </tr>
                    </thead>
                    <tbody id="dsubs" style="text-transform: capitalize;">


                    </tbody>

                  </table>
                </div>
                <!-- /.box-body -->

              </div>


            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript">






      function enableTF(ecb,inin) {

        alert(ecb+"id"+inin);
        xinput.disabled = false;
        alert(ccb+" "+inin);

        if(xinput.disabled == true) {
          alert(xinput.id)

          xinput.disabled = false;

        } else {
          xinput.disabled = true;

        }

        
      }




      function makeForm(stdID) {
        var selstd = document.getElementById(stdID).value;
        for(i=0;i<std.length;i++) {
          if(selstd == "none") {
            var dsub = document.getElementById('dsubs');
            while (dsub.firstChild) {
              dsub.removeChild(dsub.firstChild);
            }
          }
          else if(selstd == std[i]["Key"]) {
            var tk = std[i]["Record"]["Template Key"];
            var dsub = document.getElementById('dsubs');

            while (dsub.firstChild) {
              dsub.removeChild(dsub.firstChild);
            }

            for(j=0;j<data.length;j++) {
              if(tk == data[j]["Key"]) {

                var datasub = data[j]["Record"];
                var subject = new Array();
                var c =1;


                while(datasub["subject"+c]) {

                  subject = datasub["subject"+c].split(',');
                  countSub();
                  var ttr = document.createElement('tr');

                  var ttd0 = document.createElement('td');
                  ttd0.innerHTML = count;
                  ttr.appendChild(ttd0);


                  var ttd1 = document.createElement('td');
                  ttd1.innerHTML = subject[0];
                  ttr.appendChild(ttd1);

                  var ttd2 = document.createElement('td');
                  ttd2.innerHTML = subject[1];
                  ttr.appendChild(ttd2);


                  var ttd3 = document.createElement('td');
                  ttd3.classList.add('s');

                  var tse = document.createElement('input');
                  tse.type = "text";
                  tse.id = "ses"+count;
                  tse.classList.add('form-control');
                  tse.classList.add('dysub');
                  tse.value = 0;
                  tse.required = true;

                  ttd3.appendChild(tse);
                  ttr.appendChild(ttd3);


                  var ttd4 = document.createElement('td');
                  ttd4.classList.add('f');

                  var fin = document.createElement('input');
                  fin.type = "text";
                  fin.id = "final"+count;
                  fin.classList.add('form-control');
                  fin.classList.add('dysub');
                  fin.value = 0;
                  fin.required = true;

                  ttd4.appendChild(fin);
                  ttr.appendChild(ttd4);



                  var ttd5 = document.createElement('td');
                  ttd5.classList.add('t');

                  var tin = document.createElement('input');
                  tin.type = "text";
                  tin.id="sub"+count;
                  tin.name="Marks";
                  tin.classList.add('form-control');
                  tin.classList.add('dysub');
                  tin.readOnly = true;
                  // tin.disabled = true;
                  tin.value = 0;
                  tin.required = true;

                  var hin = document.createElement('input');
                  hin.type = "hidden";
                  hin.name="Variable";
                  hin.value = datasub["subject"+c];


                  ttd5.appendChild(tin);
                  ttd5.appendChild(hin);
                  ttr.appendChild(ttd5);


                  var ttd4 = document.createElement('td');


                  // var ecb = document.createElement('input');
                  // ecb.type = "checkbox";
                  // ecb.id = "cb"+count;
                  // console.log("id "+ecb.id+" in "+tin.id);
                  // ecb.innerHTML = "EN";
                  // ecb.name = "cb"+count;
                  // var xcb = "cb"+count;

                  // var newcb = " <input type='checkbox' id='cb"+c+"' onclick='enableTF('cb"+c+"','sub"+c+"')'> ";
                  // ecb.classList.add('minimal');
                  
                  // ecb.onclick = function() { enableTF(ecb.id,tin.id) }


                  // ttd4.appendChild(ecb);



                  dsub.appendChild(ttr);

                  c++;


                }
                count=0;

              }
            }

          }

        }
        
      }

      
      $( "body" ).on( "change", "input", function() {

        // var parentTag = $( this ).parent().get( 0 ).tagName;
        // $( this ).prepend( document.createTextNode( parentTag + " > " ) );
        if( $( this ).parent().get(0).className == 's' ) {
          var sm = $( this ).val();
          var fm = $( this ).parent(".s").next(".f").children().val();  
          var total = parseInt(sm)+parseInt(fm);
          $( this ).parent(".s").next(".f").next(".t").children().first().val(total)         

        } else if( $( this ).parent().get(0).className == 'f' ) {
          var fm = $( this ).val();
          var sm = $( this ).parent(".f").prev(".s").children().first().val();  
          var total = parseInt(sm)+parseInt(fm);
          $( this ).parent(".f").next(".t").children().val(total)  

        } else if( $( this ).parent().get(0).className == 't' ) {


        }

       // alert( $( this ).parent(".s").next().children().get(0).tagName);


     });


      function capitalFL(string) {
        return string[0].toUpperCase() + string.slice(1);
      }

      function display(obj) {
        var sel =  document.getElementById(obj);
        var sdd = document.getElementById('stdID');
        while (sdd.firstChild) {
          sdd.removeChild(sdd.firstChild);
        }
        var opn = document.createElement('option');
        opn.innerHTML = "none";
        sdd.appendChild(opn);

        if(sel.value == "none") {
          if(std) {
            for(j=0;j<std.length;j++) {
              var op = document.createElement('option');
              op.innerHTML = std[k]["Key"];
              sdd.appendChild(op);
            }
          }
        } else {
          for(k=0;k<std.length;k++) {
            if(sel.value == std[k]["Record"]["Template Key"]) {
              var op = document.createElement('option');
              op.innerHTML = std[k]["Key"];
              sdd.appendChild(op);

            }

          }
        }


      }  


      var count = 0;

      function countSub(){
        if(! count) {
          count = 0;
        }

        count++;
      } 

    </script>

        <!-- <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-info-circle"></i>

              <h3 class="box-title">Help</h3>
            </div>
            <div class="box-body">

            </div>
          </div>
        </div> -->


      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>