
<!-- header.ejs -->



    <!-- Main Header -->
<header class="main-header layout-top-nav" style="background: #253136;height: 90px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <!-- Logo -->
    <div class="logo" style="height: 90px;background: #253136;">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">ARV</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="img/LogoDone.png" class="img-responsive" style="height: 80px;background-color: ;margin-left: auto;margin-right: auto;"></span>
    </div>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <div class="navbar-custom-menu" >
        <ul class="nav navbar-nav">
        <div class="headhead" ><span style="font-family: 'myfont';">ACADEMIC RECORDS VERIFICATION SYSTEM </span></div>
          
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu" style="margin-top: 40px;">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/img/logo-2.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" style="text-transform: capitalize;"> <%= username%> </span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header" style="background: #253136;">
                <img src="/img/logo-2.png" class="img-circle" alt="User Image">

                <p style="text-transform: uppercase;">
                  <%= username%> <script type="text/javascript"></script>
                </p>
              </li>
              <!-- Menu Body -->
              
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" style="padding-top: 106px !important;z-index: 999;">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" >

      <!-- Sidebar user panel (optional) -->
      

      <!-- search form (Optional) -->
      
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree" style="" >

        <li style="" class="">
          <a href="#" class="sidebar-toggle cfix" data-toggle="push-menu" role="button" style="background: ;font-size:18px;padding: 0px;height: 40px;width: auto;line-height: 40px;text-align: right;padding-right:20px;display: block;">
            <i class="fa fa-navicon" style="color:#253136 !important;"></i>
          </a>
        </li>
        <!-- <li class="header" style="background-color: yellow;">HEADER</li> -->
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
        <script type="text/javascript">
          if(permission == "1") {
            document.write('<li class="treeview"><a href="#"><i class="fa fa-link"></i> <span>Administrator</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul class="treeview-menu"> <li><a href="/allusers" class="ftreecolor"> <i class="fa fa-caret-right"></i> View Users</a></li> <li><a href="/addUser" class="ftreecolor"> <i class="fa fa-caret-right"></i> Add User</a></li><li><a href="/deleteuser" class="ftreecolor"> <i class="fa fa-caret-right"></i> Delete User</a></li>')
          }
          else if(permission == "3") {
            document.write("<li class='treeview'><a href='#'><i class='fa fa-edit'></i> <span>Template</span><span class='pull-right-container'><i class='fa fa-angle-left pull-right'></i></span></a><ul class='treeview-menu'><li><a href='/template' class='ftreecolor'> <i class='fa fa-caret-right'></i> Create</a></li> <li><a href='/alltemplate' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Entries</a></li></ul></li> <li class='treeview'><a href='#'><i class='fa fa-edit'></i> <span>Admission</span><span class='pull-right-container'><i class='fa fa-angle-left pull-right'></i></span></a><ul class='treeview-menu'> <li><a href='/admission' class='ftreecolor'> <i class='fa fa-caret-right'></i> Add New Student</a></li> <li><a href='/alladmissions' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Entries</a></li> </ul></li> <li class='treeview'><a href='#'><i class='fa fa-book'></i> <span>Results</span><span class='pull-right-container'><i class='fa fa-angle-left pull-right'></i></span> </a> <ul class='treeview-menu'><li><a href='/grade' class='ftreecolor'> <i class='fa fa-caret-right'></i> Add Results</a></li> <li><a href='/allgrades' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Entries</a></li> <li><a href='/rejectresults' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Rejected Entries</a></li> </ul></li> <li class='treeview'><a href='#'><i class='fa fa-graduation-cap'></i> <span>Degrees</span><span class='pull-right-container'><i class='fa fa-angle-left pull-right'></i></span> </a> <ul class='treeview-menu'><li><a href='/adddegree' class='ftreecolor'> <i class='fa fa-caret-right'></i> Create </a></li> <li><a href='/createddegree' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Entries</a></li> </ul></li> <li class='treeview'><a href='#'><i class='fa fa-user'></i> <span>Users</span><span class='pull-right-container'><i class='fa fa-angle-left pull-right'></i></span> </a> <ul class='treeview-menu'><li><a href='/adduser' class='ftreecolor'> <i class='fa fa-caret-right'></i> Add User</a></li><li><a href='/allusers' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Entries</a></li></ul></li> ");

          } else if(permission == "2") {
            document.write(" <li class='treeview'> <a href='#''><i class='fa fa-user'></i> <span>Users</span> <span class='pull-right-container'> <i class='fa fa-angle-left pull-right'></i> </span></a><ul class='treeview-menu'><li><a href='/approveuser' class='ftreecolor'> <i class='fa fa-caret-right'></i> Approve Users</a></li><li><a href='/allusers' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Users</a></li></ul></li> <li class='treeview'> <a href='#''><i class='fa fa-edit'></i> <span>Results</span> <span class='pull-right-container'> <i class='fa fa-angle-left pull-right'></i> </span></a><ul class='treeview-menu'><li><a href='/resultapproval' class='ftreecolor'> <i class='fa fa-caret-right'></i> Approve Requests</a></li><li><a href='/approvedresults' class='ftreecolor'> <i class='fa fa-caret-right'></i> View Results</a></li></ul></li> <li class='treeview'> <a href='#''><i class='fa fa-graduation-cap'></i> <span>Degrees</span> <span class='pull-right-container'> <i class='fa fa-angle-left pull-right'></i> </span></a><ul class='treeview-menu'><li><a href='/degreeapproval' class='ftreecolor'> <i class='fa fa-caret-right'></i> Approve</a></li><li><a href='/approveddegree' class='ftreecolor'> <i class='fa fa-caret-right'></i> View</a></li></ul></li>");
          } else if(permission == "4") {
            document.write(" <li class='treeview'> <a href='#''><i class='fa fa-graduation-cap'></i> <span>Degrees</span> <span class='pull-right-container'> <i class='fa fa-angle-left pull-right'></i> </span></a><ul class='treeview-menu'><li><a href='/degreecontroller' class='ftreecolor'> <i class='fa fa-caret-right'></i> Approve </a></li><li><a href='/publishdegrees' class='ftreecolor'> <i class='fa fa-caret-right'></i> View </a></li></ul></li>"); 
          }



        </script>


        <!-- <li class="treeview">
          <a href="#"><i class="fa fa-edit"></i> <span>Template</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/template" class="ftreecolor">Create</a></li>
            <li><a href="/alltemplate" class="ftreecolor">View</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-edit"></i> <span>Admission</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admission" class="ftreecolor">Add New Student</a></li>
            <li><a href="/alladmissions" class="ftreecolor">View Student</a></li>
          </ul>
        </li>
        <li><a href="/grade"><i class="fa fa-book"></i> <span>Grade</span></a></li>
        <li><a href="#"><i class="fa fa-book"></i> <span>Data Entry</span></a></li>


        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Administrator</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" class="ftreecolor">Add User</a></li>
            <li><a href="#" class="ftreecolor">Delete User</a></li>
            <li><a href="#" class="ftreecolor">Update User</a></li>
          </ul>
        </li> -->



      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>