<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/adminlogin" method="post">
          <input name="admin" type="text" class="ghost-input" placeholder="Enter admin name..." required>
          <input name="pass" type="text" class="ghost-input" placeholder="Enter admin pass..." required>
          <input type="submit" class="ghost-button" value="Enroll Admin">
        </form>
      </fieldset>
          <p>Message From Server: <%= message%></p>

    </div>
  </body>
</html>
