<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | View Student Result</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


<style type="text/css">
@font-face {
  font-family: Montserrat-Regular;
  src: url('/fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('/fonts/montserrat/Montserrat-Medium.ttf'); 
}

.tdata {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 5px !important;
  overflow: hidden;

}

.tdata, .tdata tr td{
  border-bottom:  1px solid #7f7f7f !important;
  vertical-align: middle !important;
  font-family: Montserrat-Regular;
  font-size: 12px;
}
.tdata tr th {
  background: #253136;
  color: #fff;
  border: 0px groove #fff !important;
  vertical-align: middle !important;
  font-family: Montserrat-Regular;
  font-size: 12px;
}

.fielddata {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 10px !important;
  overflow: hidden;

}

.fielddata tr td{
  border:  1px solid #7f7f7f !important;
  /*-webkit-box-shadow:inset 0px 0px 0px 1px #f4f2f2;
    -moz-box-shadow:inset 0px 0px 0px 1px #f4f2f2;
    box-shadow:inset 0px 0px 0px 1px #f4f2f2;*/
    vertical-align: middle !important;
    font-family: Montserrat-Regular;
    font-size: 12px;
  }
  .fielddata tr th {
    background: #253136;
    color: #fff;
    border: 0px groove #fff !important;
    vertical-align: middle !important;
    font-family: Montserrat-Regular;
    font-size: 12px;
  }


  .fdata tr td {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }
</style>

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
</script>


</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        View Student Result
        <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Grades</li>
        <li class="active">View</li>
        <li class="active">Individual</li>
      </ol>
    </section>


    <script type="text/javascript">


      var whichPressed;
      function checkReject()
      {               
        if(whichPressed == "Reject")
        {
          var cmsg;
          var by = "-By <%= username%>";
          var msg = prompt("Write rejection reason", "");
          if (msg == null || msg == "") {
            alert("Please! Write the rejection reason.");
            return false;
          } else {
            cmsg = msg+" \n"+by;
            document.getElementById('rejectmsg').value = cmsg;
            return true;

          }

        } else if(whichPressed == "Approve") {
          return true;
        }
      }


    </script>


    <!-- Main content -->
    <section class="content container-fluid">
     <div class="row">
      <div class="col-md-12">
        <div class="box box-default" style="border-top: 3px solid #253136;padding-bottom: 10px;" >
          <!-- /.box-header -->
          <!-- form start -->
          <script type="text/javascript">
            std = {};
            std = <%- JSON.stringify(result) %>;
            subs = Object.keys(std)
            // alert(Object.keys(std))
          </script>


          <div class="box-body">
            <form action="/savegrade" method="POST" name="appform" onsubmit="return checkReject();">
              <div class="form-group">
                <h4 >Roll No # <%= rn%> </h4>
                <input type="hidden" name="key" value="<%= rn%>">
                <h4 id="auid">Result submitted by: <script type="text/javascript">document.write(std["userid"]);
                var uid = document.createElement('input');
                uid.type = "hidden";
                uid.name = "userid";
                uid.value = std["userid"];
                document.getElementById('auid').appendChild(uid);
              </script> </h4>

              <div id="hiddendata"></div>
              <script type="text/javascript">

                var sth = 0;
                for(s=0;s<subs.length;s++) {
                  if(subs[s] == "status" || subs[s] == "userid") {

                  } else {
                    var sps = subs[s].split(",");

                    var inhid = document.createElement('input');
                    inhid.type = "hidden";
                    inhid.name = "Subjects";
                    inhid.value = subs[s]+","+std[subs[s]];

                    var hdiv = document.getElementById('hiddendata');
                    hdiv.appendChild(inhid);

                    sth++;
                  }

                }

              </script>

            </div>
            <input type="hidden" name="rejectmsg" id="rejectmsg" value="none -By <%= username%>">
            <input type="submit" class="btn btn-success" style="margin-top:-60px;position: absolute;right: 20px;" onclick="whichPressed=this.value" name="approve" value="Approve">
            <input type="submit" class="btn btn-danger" style="margin-top:-60px;position: absolute;right: 120px;" onclick="whichPressed=this.value" name="reject" value="Reject">


          </form>

          


          <div id="datadisplay1" style="display: none;">

            <!-- Fields Table -->
            <div class="col-md-12 col-sm-12" style="padding-right: 0px;padding-left:0px;text-transform: capitalize;">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover fielddata" style="">
                  <thead>
                    <tr>
                      <th colspan="8" style="background:;font-size: 14px;text-transform: uppercase;"><center>Template Fields</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Field Name</th>
                      <th width="5%">S.No</th>
                      <th width="20%">Field Name</th>
                      <th width="5%">S.No</th>
                      <th width="20%">Field Name</th>
                      <th width="5%">S.No</th>
                      <th width="20%">Field Name</th>

                    </tr>
                  </thead>
                  <tbody id="dfields">
                    <!-- Subjects Goes Here -->
                    <!-- <tr><td><strong><center>1</center></strong></td><td>Student ID</td><td><strong><center>1</center></strong></td><td>Student ID</td><td><strong><center>1</center></strong></td><td>Student ID</td><td><strong><center>1</center></strong></td><td>Student ID</td></tr> -->

                  </tbody>
                </table>
              </div>
            </div>

          </div> <!-- Data Display 1 -->


        </div>

        <div id="datadisplay2" style="display: ;">
          <!-- Table box -->
          <div class="row" style="margin-top: -20px;">


            <!-- Semester 1 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;display: none;" id="sem1">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>1st Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs1">
                    <!-- Subjects Goes Here -->
                    <!-- <tr><td><strong><center>1</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>3</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>5</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>7</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr>
                    <tr><td><strong><center>9</center></strong></td><td>swe-102</td><td>programming fundamentals</td><td>3</td></tr> -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 2 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;display: none;" id="sem2">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>2nd Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs2">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 3 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;display: none;" id="sem3">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>3rd Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs3">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 4 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;display: none;" id="sem4">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>4th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs4">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 5 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;display: none;" id="sem5">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>5th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs5">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 6 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;display: none;" id="sem6">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>6th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs6">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 7 -->
            <div class="col-md-6 col-sm-6" style="padding-right: 0px;padding-left:20px;text-transform: capitalize;display: none;" id="sem7">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>7th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs7">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>

            <!-- Semester 8 -->
            <div class="col-md-6 col-sm-6" style="padding-left: 0px;padding-right:20px;text-transform: capitalize;display: none;" id="sem8">
              <div class="box-body table-responsive" style="background: ;">
                <table class="table table-hover tdata" style="">
                  <thead>
                    <tr>
                      <th colspan="4" style="background:;font-size: 14px;text-transform: uppercase;"><center>8th Semester</center></th>
                    </tr>
                    <tr>
                      <th width="5%">S.No</th>
                      <th width="20%">Code</th>
                      <th width="45%">Name</th>
                      <th width="30%">Marks Obtained</th>
                    </tr>
                  </thead>
                  <tbody id="dsubs8">
                    <!-- Subject Goes Here -->

                  </tbody>
                </table>
              </div>
            </div>




          </div> <!-- Tables Row End -->
        </div> <!-- Display ID Div -->


        <!-- /.box-body -->
        <script type="text/javascript">

          var dsub1 = document.getElementById('dsubs1');
          var dsub2 = document.getElementById('dsubs2');
          var dsub3 = document.getElementById('dsubs3');
          var dsub4 = document.getElementById('dsubs4');
          var dsub5 = document.getElementById('dsubs5');
          var dsub6 = document.getElementById('dsubs6');
          var dsub7 = document.getElementById('dsubs7');
          var dsub8 = document.getElementById('dsubs8');

          var st = 0;
          for(s=0;s<subs.length;s++) {
            if(subs[s] == "status" || subs[s] == "userid") {

            } else {
              var sps = subs[s].split(",");

              var tr =  document.createElement('tr');

              var td1 = document.createElement('td');
              td1.innerHTML = "<strong><center> "+(st+1)+" </center></strong>";

              var td2 = document.createElement('td');
              td2.setAttribute("style", "text-transform:uppercase;");
              td2.innerHTML = sps[0];

              var td3 = document.createElement('td');
              td3.innerHTML = sps[1];

              var td4 = document.createElement('td');
              td4.innerHTML ="<center> "+std[subs[s]]+" </center>";

              tr.appendChild(td1);
              tr.appendChild(td2);
              tr.appendChild(td3);
              tr.appendChild(td4);

              if(st < 5 ) {
                dsub1.appendChild(tr);
                document.getElementById('sem1').style.display = "block";
              } else if(st < 10 ) {
                dsub2.appendChild(tr);
                document.getElementById('sem2').style.display = "block";
              }  else if(st < 15 ) {
                dsub3.appendChild(tr);
                document.getElementById('sem3').style.display = "block";
              }  else if(st < 20 ) {
                dsub4.appendChild(tr);
                document.getElementById('sem4').style.display = "block";
              }  else if(st < 25 ) {
                dsub5.appendChild(tr);
                document.getElementById('sem5').style.display = "block";
              }  else if(st < 30 ) {
                dsub6.appendChild(tr);
                document.getElementById('sem6').style.display = "block";
              }  else if(st < 35 ) {
                dsub7.appendChild(tr);
                document.getElementById('sem7').style.display = "block";
              }  else if(st < 40 ) {
                dsubs8.appendChild(tr);
                document.getElementById('sem8').style.display = "block";
              } 
              st++;
            }

          } 



          
        </script>


      </div>
    </div>



  </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>