<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">




<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  var tag = ""
  // if(permission == "1") {tag="Admin"} else if(permission == "1") { tag="Approver"} else if(permission == "1") { tag="Data Entry Operator"}




</script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <% include header %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
          <li class="active">Here</li>
        </ol>
      </section>


      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">


            <!-- Form Element sizes -->
            <div class="box box-default" style="border-top: 3px solid #253136;">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>
              <div class="box-body" style="padding-top: 0px; color :#4d4d4d;">
                <table class="table table-hover" border="0">
                  <tbody>
                    <tr>
                      <td>ID</td>
                      <td> <%= userid%> </td>
                    </tr>
                    <tr>
                      <td width="30%">Username</td>
                      <td width="70%"> <%= username%> </td>
                    </tr>
                    <tr>
                      <td width="30%">Created By</td>
                      <td width="70%"> <%= by%> </td>
                    </tr>

                    <tr>
                      <td width="30%">Status</td>
                      <td width="70%"> <script type="text/javascript">
                        var act = "<%= active%>";
                        if(act == "false") { document.write('<span class="label label-warning">Inactive</span>'); } 
                        else if(act == "true") { document.write('<span class="label label-success">Active</span>'); } 
                      </script> </td>
                    </tr>
                  </tbody>
                </table>


              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->



          </div>

          <div class="col-md-6">


            <!-- Form Element sizes -->
            <div class="box box-default" style="border-top: 3px solid #253136;">
              <div class="box-header with-border">
                <h3 class="box-title">Change Password</h3>
              </div>
              <div class="box-body" style="padding-top: 0px; color :#4d4d4d;">
                <form action="/updatepassword" method="post" name="updatepassword" onsubmit="return checkPass();">
                  <div class="input-group">
                    <input type="password" class="form-control" id="tcp" name="current" placeholder="Current Password" required>
                    <span class="input-group-addon" onclick="showCP('tcp','ic')"><i class="fa fa-eye-slash" id="ic"></i></span>
                  </div> <br>
                  <div class="input-group">
                    <input type="password" class="form-control" id="tnew" name="new" placeholder="New Password" required>
                    <span class="input-group-addon" onclick="showCP('tnew','inew')"><i class="fa fa-eye-slash" id="inew"></i></span>
                  </div><br>
                  <div class="input-group">
                    <input type="password" class="form-control" id="tcon" name="confirm" placeholder="Confirm Password" required>
                    <span class="input-group-addon" onclick="showCP('tcon','icn')"><i class="fa fa-eye-slash" id="icn"></i></span>
                  </div>
                  <br>
                  <input type="submit" name="update" value="Update" class="btn btn-success">
                </form>

              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>

          <div class="col-md-6">
            <!-- Form Element sizes -->
            <div class="box box-default" style="border-top: 3px solid #253136;">
              <div class="box-header with-border">
                <h3 class="box-title">User's Crypto Keys</h3>
              </div>
              <div class="box-body" style="padding-top: 0px; color :#4d4d4d;">

                <label class="">Private Key</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="privatekey" placeholder="Private Key">
                  <span class="input-group-addon" id="" onclick=""><i class="fa fa-download" ></i></span>
                </div> <br>
                <label class="">Public Key</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="publickey" placeholder="Public Key">
                  <span class="input-group-addon" onclick=""><i class="fa fa-user" ></i></span>
                </div><br>

                <input type="button" name="generate" value="Generate Key" class="btn btn-success" onclick="">


              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->



          </div>

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->


    </div>
    <!-- /.content-wrapper -->

    <script type="text/javascript">
      function showCP(obj1,obj2) {
        y = document.getElementById(obj1);
        x = document.getElementById(obj2);

        if(y.type == "password") {
          y.type = "text";
          x.classList.remove("fa-eye-slash");
          x.classList.add("fa-eye");
        } else {
          y.type = "password";
          x.classList.remove("fa-eye");
          x.classList.add("fa-eye-slash");
        }
      }

      function checkPass() {
        var chkp = "<%= speacs%>" 
        var p = document.getElementById('tcp');
        var np = document.getElementById('tnew');
        var cp = document.getElementById('tcon');
        if(p.value == chkp) {
          if(np.value == cp.value) {
            return true;
          } else {
            alert("not match");
            return false;
          }
        } else {
          return false;
          p.style.border = "1px solid red;";
        }
      }
    </script>

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>