<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Update Result</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <link rel="stylesheet" href="/plugins/iCheck/all.css">

  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  
  // var mdata = "null"
  // var smsg = "Successfully committed the change to the ledger by the peer.";
  // var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  // var smb = "<div class='box-body'>"+sif+"</div>"

  // var ermsg = "Transaction Failed."
  // var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  // var emb = "<div class='box-body'>"+eif+"</div>"
  
  
</script>
<style type="text/css">
.dysub {
  height: 25px;
  border-radius: 5px;
}
.table tbody tr td {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}
</style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Update Result
      <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Grades</li>
      <li class="active">Add Student Result</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
   <div class="row">

    <script type="text/javascript">
      // if (mdata == "null") {

      // }else if(mdata == "1") {
      //   document.write(smb);
      // }else if(mdata == "0") {
      //   document.write(emb);
      // }

    </script>

    <div class="col-md-12">
      <div class="box box-default center-block" style="border-top: 3px solid #253136;">
        <!-- /.box-header -->
        <script type="text/javascript">

          std = {};
          std = <%- JSON.stringify(result) %>;
          rollno = "<%= rn%>";
          // alert(std[0]["Key"]);

          var count = 0;

          function countSub(){
            if(! count) {
              count = 0;
            }

            count++;
          } 

        </script>
        <!-- form start -->


        <div class="box-body">

          <div class="form-group">              

            <h4>Roll No:  <%= rn%>  </h4>

            <div class="callout callout-info">
              <h4>Message !</h4>

              <script type="text/javascript">

                var msg = std["status"].split(',');

                document.write(msg[1])

              </script>


            </div>




          </div>

          <div id="dymf">
            <!-- Fields goes here -->




            <form action="/updateresult" method="POST">
              <input type="hidden" name="userid" value="<%= username%>">
              <div class="col-xs-12">
                <div class="box-header">
                  <h3 class="box-title">Subjects</h3>


                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th width="5%">S.No</th>
                        <th width="15%">Code</th>
                        <th width="30%">Name</th>
                        
                        <th width="50%">Total Marks</th>
                        <!-- <th width="5%">Enable</th> -->
                      </tr>
                    </thead>
                    <tbody id="dsubs" style="text-transform: capitalize;">

                      <script type="text/javascript">

                        subKeys = Object.keys(std) //returning keys only
                        document.write(' <input type="hidden" name="stdid" value="'+rollno+'" ')


                        for(i = 0;i<subKeys.length;i++) {
                          if(subKeys[i] == "status" || subKeys[i] == "userid") {

                          }
                          else {
                            countSub();

                            document.write('<tr>');

                            document.write('<td><center>'+count+'</center></td>');

                            var subject = subKeys[i].split(',');
                            document.write('<td style="text-transform:uppercase;">'+subject[0]+'</td>');
                            document.write('<td style="text-transform:capitalize;">'+subject[1]+'</td>');

                            document.write('<td> <input type="hidden" name="Variables" value="'+subKeys[i]+'" > <input type="text" name="Marks" value="'+std[subKeys[i]]+'" class="form-control dysub" required>  </td>')

                            document.write('</tr>');

                          }
                        }

                      </script>


                    </tbody>

                  </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary ">Update Result</button>
                </div>

              </div>
            </form>

          </div>

        </div>
        <!-- /.box-body -->

      </form>
    </div>
  </div>

  <script type="text/javascript">




  </script>



</div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>