<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Create Template</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



<script type="text/javascript">
  var username= "<%= username%>";
  var permission= "<%= permission%>";
  var tag = ""
  if(permission == "1") {tag="Admin"} else if(permission == "1") { tag="Approver"} else if(permission == "1") { tag="Data Entry Operator"}
  
  var data = "<%= message%>";
  var smsg = "Successfully committed the change to the ledger by the peer.";
  var sif = "<div class='alert alert-success alert-dismissible'><h4><i class='icon fa fa-check'></i> Success!</h4>"+smsg+"</div>";
  var smb = "<div class='box-body'>"+sif+"</div>"

  var ermsg = "Transaction Failed."
  var eif = "<div class='alert alert-danger alert-dismissible'><h4><i class='icon fa fa-warning'></i> Error!</h4>"+ermsg+"</div>";
  var emb = "<div class='box-body'>"+eif+"</div>"
  

</script>

</head>


<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

<% include header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="padding-top: 10px !important;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Template
        <small>ACADEMIC RECORDS VERIFICATION SYSTEM</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Template</li>
        <li class="active">Create</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
     <div class="row">

       <script type="text/javascript">
        if (data == "null") {

        }else if(data == "1") {
          document.write(smb);
        }else if(data == "0") {
          document.write(emb);
        }

      </script>



      <div class="col-md-8">
        <div class="box box-default" style="border-top: 3px solid #253136;">
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" action="/template" method="post">
            <div class="box-body">
              <h4>Template Key Details</h4>
              <div class="form-group">
                <label for="exampleInputPassword1">Department</label>
                <input type="text" class="form-control" name="depart" placeholder="e.g SE, CE ..." style="text-transform:uppercase;border-radius: 5px;" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Degree Level</label>
                <input type="text" class="form-control" name="level" placeholder="e.g BS, MS ..." style="text-transform:uppercase;border-radius: 5px;" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">batch</label>
                <input type="text" class="form-control" name="batch" placeholder="e.g 2015, 2016 ..." style="text-transform:uppercase;border-radius: 5px;" required>
              </div>

              <div >

                <div style="margin-bottom: 10px;line-height: 40px;height: 40px;">
                  <h4 style="margin-top: 0px;height:40px;line-height:40px;width: 70%;float: left;">Template Fields</h4>

                  <div class="addf" style="font-size: 24px;opacity: 0.7;width: 40px;text-align: center;float:right;" title="Add Subject" data-toggle="modal" data-target="#modal-default2"> <i class="fa fa-book"></i> </div>

                  <div class="addf" style="font-size: 24px;opacity: 0.7;width: 40px;text-align: center;float: right;" title="Add Field" data-toggle="modal" data-target="#modal-default"> <i class="fa fa-plus-circle"></i> </div>

                </div>




                <div id="dynamic" class="form-group" >

                  <div class="input-group dymbox" id="mb1">
                    <input type="text" name="Field" value="student id" class="form-control dyminput" id="f1" required readonly>
                    <div class="input-group-addon dymaddon" style="cursor: not-allowed;">
                      <i class="fa fa-pencil" id="be1"></i>
                    </div>
                    <div class="input-group-addon dymaddon" style="cursor: not-allowed;">
                      <i class="fa fa-remove" id="br1"></i>
                    </div>
                  </div>


                </div>

                <div id="sub" class="form-group" >


                </div>

              </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary " style="margin-left: 2px;">Submit</button>

            </div>
          </form>
        </div>
      </div>

      <!-- /.modal body create field-body -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Field</h4>
              </div>
              <div class="modal-body">
                <form method="POST">
                  <label>Enter Field Name</label>
                  <input id="newField" class="form-control" type="text" name="field" required>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="generate('newField');" data-dismiss="modal">Submit</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

        <!-- /.modal body create field-body -->

        <!-- /.modal body create subject-body -->
        <div class="modal fade" id="modal-default2">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Enter Subject Detils</h4>
                </div>
                <div class="modal-body">
                  <form method="POST">
                    <label>Enter Course Id</label>
                    <input id="newf1" class="form-control" type="text" required>
                    <label>Enter Course Title</label>
                    <input id="newf2" class="form-control" type="text" required>
                    <label>Enter Credit Hours</label>
                    <input id="newf3" class="form-control" type="text" required>


                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="generate_subject('newf1','newf2','newf3');" data-dismiss="modal">Submit</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>

          <!-- /.modal body create subject-body -->



          <script type="text/javascript">

            var abc ="";
            function generate(getVal) {
              var dym = document.getElementById("dynamic");
              var inVal = document.getElementById(getVal);
              if(inVal.value == "") {
                alert("Please enter value !")
              } else {

                countTF();

                var mbox = document.createElement('div');
                mbox.classList.add("input-group");
                mbox.classList.add("dymbox");
                mbox.id = "mb"+ctf;


                var minput = document.createElement('input');
                minput.classList.add("form-control");
                minput.classList.add("dyminput");

                minput.type = "text";
                minput.name = "Field"
                minput.value = inVal.value;
                minput.id = "f"+ctf;
                minput.readOnly = true;
                minput.required = true;

                var bebox = document.createElement('div');
                bebox.classList.add("input-group-addon")
                bebox.classList.add("dymaddon")


                var beicon = document.createElement('i');
                beicon.classList.add("fa");
                beicon.classList.add("fa-pencil");
                beicon.id = "be"+ctf;

                var brbox = document.createElement('div');
                brbox.classList.add("input-group-addon")
                brbox.classList.add("dymaddon")

                var bricon = document.createElement('i');
                bricon.classList.add("fa");
                bricon.classList.add("fa-remove");
                bricon.id = "br"+ctf;


                bebox.onclick = function() { edit(minput.id,beicon.id); };
                brbox.onclick = function() { remove(mbox.id); };

                mbox.appendChild(minput);

                mbox.appendChild(bebox);
                bebox.appendChild(beicon);

                mbox.appendChild(brbox);
                brbox.appendChild(bricon);


                dym.appendChild(mbox);

                inVal.value = "";

              }

            }


            function edit(obj,btn) {

              var x=document.getElementById(obj);
              if(x.value != "") {
                if(x.readOnly == true) {
                  var icon=document.getElementById(btn);

                  icon.setAttribute('class', 'fa fa-save');
                  x.readOnly = false;
                  x.focus();
                } else if(x.readOnly == false) {
                  var icon=document.getElementById(btn);
                  icon.setAttribute('class', 'fa fa-pencil');
                  x.readOnly = true;
                  x.focus();
                }
              } else {
                alert("Field cannot be empty");
                x.focus();
              }

            }

            function edit_subject(obj1,obj2,obj3,btn) {

              var x=document.getElementById(obj1);
              var y=document.getElementById(obj2);
              var z=document.getElementById(obj3);
              if(x.value != "" && y.value != "" && z.value != "") {
                if(x.readOnly == true) {
                  var button=document.getElementById(btn);
                  var icon = button.getElementsByTagName('i')[0]
                  icon.setAttribute('class', 'fa fa-save');
                  x.readOnly = false;
                  y.readOnly = false;
                  z.readOnly = false;
                  x.focus();
                } else if(x.readOnly == false) {
                  var button=document.getElementById(btn);
                  var icon = button.getElementsByTagName('i')[0]
                  icon.setAttribute('class', 'fa fa-pencil');
                  x.readOnly = true;
                  y.readOnly = true;
                  z.readOnly = true;
                  x.focus();
                }
              } else {
                alert("Field cannot be empty");
                x.focus();
              }

            }

            function remove(boxid) {
              var box = document.getElementById(boxid);
              box.parentNode.removeChild(box);
            }




            function generate_subject(obj1,obj2,obj3){

              var dym = document.getElementById("sub");


              var get_id = document.getElementById(obj1).value;
              var get_title = document.getElementById(obj2).value;
              var get_credit = document.getElementById(obj3).value;

              if(get_id != "" && get_title != "" && get_credit != "") {

                counter();

                var submbox = document.createElement("div");
                submbox.id = "sb"+count;

                var hr = document.createElement("hr");
                hr.classList.add("style14")

                var sbh4 = document.createElement("h4");
                sbh4.innerHTML = "Subject "+count;


                var f1 = document.createElement("input");
                f1.type = "text";
                f1.id = "s"+count+"f1";
                f1.name = "scode";
                f1.value = get_id;
                f1.classList.add("form-control");
                f1.classList.add("dymboxn");
                f1.readOnly = true;
                f1.required = true;


                var f2 = document.createElement("input");
                f2.type = "text";
                f2.id = "s"+count+"f2";
                f2.name = "sname";
                f2.value = get_title;
                f2.classList.add("form-control");
                f2.classList.add("dymboxn");
                f2.readOnly = true;
                f2.required = true;


                var f3 = document.createElement("input");
                f3.type = "text";
                f3.id = "s"+count+"f3";
                f3.name = "scredit";
                f3.value = get_credit;
                f3.classList.add("form-control");
                f3.classList.add("dymboxn");
                f3.readOnly = true;
                f3.required = true;


                var seb = document.createElement('div');
                seb.classList.add("seb")
                seb.id = "sube"+count;

                var ie = document.createElement('i');
                ie.classList.add("fa")
                ie.classList.add("fa-pencil")

                var srb = document.createElement('div');
                srb.classList.add("srb")
                srb.id = "subr"+count; 

                var ir = document.createElement('i');
                ir.classList.add("fa")  
                ir.classList.add("fa-remove")  

                seb.onclick = function() { edit_subject(f1.id,f2.id,f3.id,seb.id); };
                srb.onclick = function() { remove(submbox.id); };



                submbox.appendChild(hr);
                submbox.appendChild(sbh4);

                srb.appendChild(ir);
                sbh4.appendChild(srb);

                seb.appendChild(ie);
                sbh4.appendChild(seb);

                submbox.appendChild(f1);

                submbox.appendChild(f2);

                submbox.appendChild(f3);

                dym.appendChild(submbox);

                document.getElementById("newf1").value = "";
                document.getElementById("newf2").value = "";
                document.getElementById("newf3").value = "";



              } else {
                alert("Field cannot be empty");
              }
            } 

            var count = 0;
            var ctf = 2;

            function counter(){
              if(! count) {
                count = 0;
              }

              count++;
            } 

            function countTF(){
              if(! ctf) {
                ctf = 0;
              }

              ctf++;
            }       
          </script>


          <div class="col-md-4">
            <div class="box box-default" style="border-top: 3px solid #253136;">
              <div class="box-header with-border">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title">Info</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">

                Here you can make your desired template for each batch and store students data as according to your desired template.
                <h5><strong> Template Key </strong></h5> 
                Key composed using department, degree type and batch (year).
                <h5><strong> Template Fields </strong></h5> 
                These are the fields to save the student personal information e.g name, father name, address, telephone etc. 
                <br>Field named 'Student ID' is mandatory and cannot be deleted or modified.
                <br>You can add new field by clicking <i class="fa fa-plus-circle" style="opacity: 0.8"></i> icon.
                <h5><strong> Subjects </strong></h5> 
                This section contains all the subjects that will be taught in the program.
                <br>Subject contains Code, Name and Credit Hours.
                <br>You can add subjects by clicking <i class="fa fa-book" style="opacity: 0.8"></i> icon.


              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>