<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Create Template</title>


</head>


<body>

<form action="/logintest" method="POST">
	<input type="text" name="email" >
	<input type="text" name="pass" >
	<input type="submit" name="submit" >
</form>

</body>
</html>