<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Create Template</title>


</head>


<body>

<h4> <%= username %> </h4>

</body>
</html>