<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from www.themezaa.com/html/pofo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Mar 2018 12:21:56 GMT -->
<head>
    <!-- title -->
    <title>Digitally Verified Degree [<%= dno%>]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- description -->

    <!-- animation -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- et line icon --> 
    <!-- font-awesome icon -->
    <!-- themify icon -->
    <!-- justified gallery  -->
    
    <!-- bootsnav -->
    <!-- style -->

    <!-- responsive css -->
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>

        <![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
        <script type="text/javascript">
            function capLet(str) 
            {
                str = str.split(" ");

                for (var i = 0, x = str.length; i < x; i++) {
                    str[i] = str[i][0].toUpperCase() + str[i].substr(1);
                }

                return str.join(" ");
            }

            deg = {};
            deg = <%- JSON.stringify(degresult) %>;

            degno = "<%= dno%>";


            rollno = deg["roll no"];
            sproll = deg["roll no"].split("-");

            dept = sproll [1];
            var degtype = "SOFTWARE ENGINEERING";
            if(dept == "SE") { degtype = "SOFTWARE ENGINEERING"; }
            else if(dept == "SE") { degtype = "SOFTWARE ENGINEERING"; }
            else if(dept == "CE") { degtype = "COMPUTER ENGINEERING"; }
            else if(dept == "EE") { degtype = "ELECTRONIC ENGINEERING"; }
            else if(dept == "EL") { degtype = "ELECTRICAL ENGINEERING"; }
            else if(dept == "BM") { degtype = "BIO-MEDICAL"; }
            else if(dept == "CS") { degtype = "COMPUTER SCIENCE"; }
            else if(dept == "CV") { degtype = "CIVIL ENGINEERING"; }


            var name = "";
            if( name = deg["name"]) {

            } else if( name = deg["student name"]) {

            }


            var app = deg["approver"].split(",");
            var con = deg["controller"].split(",");

            var approver = app[1];
            var controller = con[1];

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1;
            var yyyy = today.getFullYear();

            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = mm + '/' + dd + '/' + yyyy;

        </script>

    </head>



    <body>

        <div class="container">
            <div class="row">
                <h4 style="float: left;font-family: times new roman"> <script type="text/javascript"> document.write(degno); </script> </h4>
                <h4 style="float: right;font-family: times new roman">Date : <script type="text/javascript"> document.write(today); </script> </h4>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div style="background: ;width:800px;margin:auto;">
                   <img class="img-responsive" src="img/sirsyedbanner.png" />
               </div>
           </div>
       </div>     



       <div class="container">
        <div class="row" >
            <h4 class="text-center" style="background: ;margin-top:0px;margin-bottom: 0px;">FACULTY OF <script type="text/javascript"> document.write(degtype); </script> </h4>
            <h3 class="text-center" style="font-family: Old English Text MT;font-weight: bold;background: ;margin-top:10px;margin-bottom: 0px;">Bachelor of Science</h3>

        </div>
    </div>

    <div class="container">
        <div class="row" >
            <h4 style="font-family: Old English Text MT;font-weight: bold;background: ;margin-top: 0px;margin-bottom: 0px;">    &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;Whereas</h4>
            <h2 class="text-center" style="font-family: times new roman;background: h;margin-top: 0px;margin-bottom: 0px;"> <script type="text/javascript"> document.write(name); </script>  </h2>
            <H4 style="font-family: times new roman;margin-top: 0px;margin-bottom: 0px;background: ;"> &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;Bearing Roll No</H4>
            <h2 class="text-center" style="font-family: times new roman;margin-top: 0px;margin-bottom: 0px;"> <script type="text/javascript"> document.write(rollno); </script>  </h2>

        </div>

        <div class="row" >
            <br>
            <p class="text-center" style="font-family: 'Pinyon Script', cursive;font-size: 30px;">has been passed and degree is digitally verified by Academic Records Verification System.

            </div>
        </div><br>

        <div class="container">
            <div class="row" >  
                <div style="float: left;">
                    <p style="font-family: 'Pinyon Script', cursive;font-size: 30px;" style="">Digitally signed by:</p>
                    <p style="font-family: 'Pinyon Script', cursive;font-size: 10px;">__________________________</p>
                    <p style="font-family: 'Pinyon Script', cursive;font-size: 30px;"> Controller of Examination  </p>

                </div>
                <div  style="float: right;">
                    <p style="font-family: 'Pinyon Script', cursive;font-size: 30px;">Digitally Verified by:</p>
                    <p style="font-family: 'Pinyon Script', cursive;font-size: 10px;">__________________________</p>
                    <p style="font-family: 'Pinyon Script', cursive;font-size: 30px;"> Head of Department </p>



                </div>
            </div>
        </div>

    </body>


    </html>