<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ARVS | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/css/mystyle.css">

  <link rel="stylesheet" href="/css/skins/skin-blue.min.css">


  <!-- Google Font -->
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">


    <div class="container-fluid" style="background: #253136;padding-bottom: 50px;">
      <div class="row">
        <div class="col-md-12" style="background: #253136;height: 100px;z-index: 9999;">
          <img src="img/LogoDone.png" style="margin-left:0px;margin-top:-5px;width: 200px;z-index: 9999;float: left;" class="img-responsive">
          <div class="headhead" style="">&nbsp;&nbsp;&nbsp;&nbsp; <span style="background: ;font-family: 'myfont' ;padding-left: 20px;">&nbsp;&nbsp; ACADEMIC RECORDS VERIFICATION SYSTEM </span></div>
        </div>
      </div>

    </div>

    <!-- Main Header -->
    <header class="main-header" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

      <!-- Logo -->


      <!-- Header Navbar -->
      
    </header>

    

    <div class="container-fluid" style="background: #EBEFF5;">
      <div style="height: 60vh;width: 100%;background: ;">
        <div style="width: 15%;background: ;margin:auto;margin-top: 50px;">
          <img  class="img-responsive" src="/img/logo-2.png">


        </div>

        <div style="margin:auto;width:700px;background: ;">
          <center> <h2 class="page-header" style="margin-bottom: 0px;">ENTER DEGREE NUMBER TO VERIFY DEGREE</h2> </center>
          <form action="/verifieddegree" method="POST">
          <input type="text" class="form-control" name="degreeno" placeholder="e.g DEGREE-0123456789" style="display:inline-block;width:490px;height: 50px;border-width: 2px;font-size: 16px;border-radius: 5px;">
          <input type="submit" value="VERIFY" class="btn btn-lg btn-success" style="display:inline-block;margin-top:-5px;height:50px;width: 200px;" name="verify">

          </form>
          <script type="text/javascript">
            var error = "<%= error%>";
            var degno = "<%= degreeno%>"
            if(error == "0") {


            } else if(error == "1") {
              document.write('<h4  style="text-align: center;color:red;padding-top: 10px;" > <span class="label label-danger" style="font-size: 20px;margin-top: 20px;font-weight:normal !important;">Degree No: <strong>'+degno+'</strong> doesn\'t exist. </span> </h4>');
            }
          </script>
        </div>

      </div>


    </div>


      <!--------------------------
        | Your Page Content Here |
        -------------------------->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Academic Records Verification System
      </div>
      <!-- Default to the left -->
      <strong style="margin-left: -220px;">Copyright &copy; 2018 <a href="#">SSUET</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->

    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->

    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 3 -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
   </body>
   </html>