/*background:url('../../images/bg.png');background-size: 100vh;background-repeat: no-repeat;*/
  @font-face {
  font-family: 'myfont';
  src: url('libel.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('libel.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

.dymbox{
	border-radius: 5px;
	border:1px solid #D2D6DE;
	overflow: hidden;
	margin-bottom: 20px;
}
.dymboxn{
	border-radius: 5px;
	border:1px solid #D2D6DE;
	overflow: hidden;
	background:#fff !important;
	margin-bottom: 10px;
}
.dyminput{
	border:0px;
	background:#fff !important;
	text-transform: uppercase;
}

.dymaddon{
	border:0px;
	border-left:1px solid #D2D6DE !important;
}

.dymaddon i {
	font-size:18px;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  color: #D2D6DE;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.seb{
	border:0px;
	border-left:1px solid #D2D6DE !important;
	float: right;
	margin-top: -5px;
	background-color: #fff;
	border:1px solid #D2D6DE;
	width: 30px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 5px;
	line-height: 30px;
}
.seb i {
	opacity: 0.7;
}

.srb i {
	opacity: 0.7;
}
.srb{
	border:0px;
	line-height: 30px;
	border-left:1px solid #D2D6DE !important;
	float: right;
	margin-right: 5px;
	margin-top: -5px;
	background-color: #fff;
	border:1px solid #D2D6DE;
	width: 30px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 5px;
}

.headhead {
	font-size: 40px;
	color:#fff;
	position:relative;
	background-color: ;
	line-height: 20px;
	float: left;
	margin-top: 35px;
	margin-right: 250px;

}

@media (max-width:1060px){
	.headhead {
		font-size: 30px;
		padding-top: 50px;
	}
}

@media (max-width:995px){
	.asidestyle {
	}
}

.modal {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.table-style{
	text-align: center;
}

.notiuser:hover{
	background-color: #212C30;
 }

 @media only screen and (max-width: 1024px) {
  .headhead {
    margin-top: 18px;
    font-size: 35px;
    padding-top: 15px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .headhead {
    margin-top: 18px;
    font-size: 25px;
    padding-top: 15px;
    margin-right: 105px;
  }
}

@media only screen and (max-width: 425px) {
  .headhead {
    margin-top: 18px;
    font-size: 23px;
    padding-top: 0px;
    margin-right: -4px;
  }
  .abc{
  	margin-top:7px; !important;
  }
}
